
// Layout
@import "mixins/library";
@import "variables/variables";

/* ============ Reset ============ */
body {
    font: 13px "微软雅黑", helvetica, arial;
    background: #fff;
    color: #333;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none
}

body, p, ol, ul, li, h1, h2, h3, h4, h5, h6, dl, dt, dd, pre, input, table, tr, td, button, textarea, button {
    margin: 0;
    padding: 0
}

input[type=button], input[type=text], input[type=password] {
    -webkit-appearance: none;
    outline: none
}

ol, ul, li {
    list-style: none
}

input, button {
    border: 0 none
}

img {
    border: 0 none;
    max-width: 100%;
}

a {
    color: #333;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

a:active {
    noOutline: expression(this.onFocus=this.blur())
}

:focus {
    outline: 0
}

pre {
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-all;
    line-height: 1.5438em;
    margin: 1em;
    padding: 1em 1.6em 1em 1.2em;
    vertical-align: top;
    border: 1px solid #e8e8e8;
    border-left-width: 6px;
    border-radius: 0 3px 3px 0;
    word-wrap: break-word
}
.dn {
    display: none
}

.hide-t {
    text-indent: 0;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    @include text-hide();
}

.al-l {
    text-align: left;
}

.al-r {
    text-align: right;
}

.al-c {
    text-align: center;
}

.al-j {
    text-align: justify;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}
.clearfix{@include clearfix();}
.pos_re{position: relative;}
.pos_ab{position: absolute;}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.plr10 {
    padding: 0 10px;
}

.c-red {
    color: red;
}

.c-999 {
    color: #999;
}



@include font-face("fontico","../fonts/ico",("eot","woff","ttf","svg"));

/* ============ Common ============ */

/* header */
.logo {
    display: block;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 40px;
    background-size: 100px auto;
}

.feature-icon {
    .icon1 {
        background-image: url(../images/icon1.png);
    }
    .icon2 {
        background-image: url(../images/icon2.png);
    }
    .icon3 {
        background-image: url(../images/icon3.png);
    }
    [class*="icon"] {
        display: block;
        width: 164px;
        height: 138px;
        background-repeat: no-repeat;
        margin: 20px auto;
    }
}

/* main */
body > .view-container {
    padding-bottom: 0;
    @media (min-width: $grid-float-breakpoint) {
        padding-bottom: 90px;
    }
}

.container {
    box-sizing: border-box;
}


.main-container {
    padding-top: 30px;
    padding-bottom: 30px
}

/* footer */
.footer {
    padding: 30px 0;
    color: #666;
    background: #fff;
    border-top: 1px solid #eee
}

.footer-links a {
    color: #666
}
