// Layout
@import "mixins/library";
@import "variables/variables";

/* ============ docs-header ============ */
.docs-header {
    color: #b9c8e0;
    background-color: #2F486F;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    h1 {
        color: #fff;
        font-size: 20px;
        margin: 0 0 1.6rem 0
    }
    h2 {
        color: #fff;
        font-size: 20px;
        margin: 0 0 1.6rem 0
    }
    p {
        font-weight: 300;
        line-height: 1.5
    }
    .container {
        position: relative;
        padding: 30px;
        box-sizing: border-box
    }

    @media (min-width: $grid-float-breakpoint) {
        font-size: 24px;
        h1 {
            font-size: 64px;
            line-height: 1.5;
        }
        h2 {
            font-size: 36px;
            line-height: 1.5;
        }
    }
}

/* ============ feature-list ============ */
.feature-list {
    padding: 30px 15px;
    overflow: hidden;
    box-sizing: border-box;
    div ~ div {
        margin-top: 15px;
    }

    .feature-list-item {
        border-radius: 3px;
        border: 1px solid #eee;
        background: #fff;
        padding: 15px;
        text-align: center
    }
    .feature-desc {
        text-align: center;
        line-height: 20px
    }

    @media (min-width: $grid-float-breakpoint) {
        margin: 60px 0;

        div ~ div {
            margin-top: 0
        }

        .feature-desc {
            text-align: left
        }
    }
}


/* ============ bullet ============ */
ol{
    &.hanja,&.decimal{
        ul{@include style-bullets(disc,none);
            ul{@include style-bullets(lower-alpha,none);
                ul{@include style-bullets(circle,none);
                    ul{@include style-bullets(lower-greek,none);}
                }
            }
        }
    }
    &.hanja{margin-top: 10px;
        @include style-bullets(korean-hanja-informal,none);
    }
    &.decimal{margin-top: 10px;
        @include style-bullets(decimal,none);
    }
    li{margin-top: 10px;}
}


/* ============ input ============ */
.radio-group{
    .radio-item{margin:0 5px;}
}
.radio-item {position: relative;@include inline-block();@include size(20px);
    label{cursor: pointer;background: #fff;border: 1px solid #ddd;border-radius: 50%;
        @include size(100%);@include box-sizing(border-box);
        position: absolute;top: 0;left: 0;
        &:after{content: '';background:none;border-radius: 50%;
            @include size(6px);
            position: absolute;top: 50%;margin-top: -3px;left: 50%;margin-left: -3px;
        }
    }
    input[type=radio]{visibility: hidden;
        &:checked{
            & + label{border: 1px solid #064EBF;
                &:after{background: #064EBF;}
            }
        }
    }
}

.checkbox-group{
    .checkbox-item,.switch-item{margin:0 5px;}
}
.checkbox-item {position: relative;@include inline-block();@include size(20px);
    label{cursor: pointer;background: #fff;border: 1px solid #ddd;
        @include size(100%);@include box-sizing(border-box);
        position: absolute;top: 0;left: 0;
        &:after{content: '';background:none;border: 3px solid #fff;border-top: none;border-right: none;
            @include size(9px,5px);@include box-sizing(border-box);@include prefixer(transform,rotate(-45deg),("webkit","moz","o","ms"));
            position: absolute;top: 50%;margin-top: -3px;left: 50%;margin-left: -4px;
        }
    }
    input[type=checkbox]{visibility: hidden;
        &:checked{
            & + label{border: 1px solid #064EBF;
                &:after{border-left-color: #064EBF;border-bottom-color:#064EBF;}
            }
        }
    }
}
.switch-item {position: relative;line-height: 30px;background-color: #E8E8E8;
    @include inline-block();@include size(80px,30px);@include prefixer(transition,(background-color, border) .2s ease-in-out ,("webkit","moz","o","ms"));
    label{z-index: 1;position: absolute;top: 0;left: 0;@include size(100%);
        &:after{content: 'OFF';font-size: 12px;text-align: center;font-weight: 100;float: left;background-color: #f5f5f5;color: #064EBF;
            @include size(50%,100%);@include box-sizing(border-box);@include inline-block();
            @include prefixer(transition,.2s ease-in-out,("webkit","moz","o","ms"));
            @include prefixer(transition-property,(transform, width, left),("webkit","moz","o","ms"));
            @include gradient-vertical(#fff, #e6e6e6);
        }
    }
    input[type=checkbox]{visibility: hidden;
        &:checked{
            & + label{
                &:after{content: 'ON';background-color: #064EBF;color: #fff;
                    @include prefixer(transform,translate(100%, 0),("webkit","moz","o","ms"));
                    @include gradient-vertical(#064EBF, #08c);
                }
            }
        }
    }
}

.file-item {cursor: pointer;line-height: 30px;text-align: center;background: #4180E2;overflow: hidden;position: relative;
    @include inline-block();@include size(150px,30px);
    &:hover{background: #064EBF;}
    &:before{font-weight: 400;font-style: normal;font-variant: normal;text-decoration: none;color: #fff;margin-right: 3px;
        font-family: fontico; content: "\ea07";
        @include inline-block();
    }
    &:after{cursor: pointer;outline: 0;color: #fff;text-align: center;white-space: nowrap;
        content: "选择要上传的文件";
        @include inline-block();@include prefixer(transition,(background-color .3s ease-out, border-color .3s ease-out),("webkit","moz","o","ms"))
    }
    input[type=file] {cursor: pointer;font-size: 50rem;@include opacity(0);@include size(100%,100%);
        z-index: 999;position: absolute;right: 0;top: 0;
    }
}

.i-text {padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #333;background-color: #fff;background-image: none;border: 1px solid #ccc;
    @include inline-block();@include placeholder(#999);
}

.input-group{border: 1px solid #ccc;
    [class*="f-"]{float: left;padding: 10px;
        & + input{display: block;border:none;padding-left: 0;}
    }
}

/* ============ mlist ============ */
.mlist {
    position: relative;
    padding-left: 80px;
    border-top: 1px solid #eee;
    border-bottom: 2px solid #eee;
    margin-bottom: 50px;
    ol{@include style-bullets(decimal,none);}
}

.mlist .mtit {
    background: #F5F5F5;
    padding: 10px 0 10px 20px;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0
}

.mlist .mtit span {
    background: #2F486F;
    display: inline-block;
    padding: 8px 10px 8px 20px;
    font-weight: 400;
    color: #fff
}

.mlist .mcon {
    padding: 10px 10px 10px 20px;
    color: #888;
    line-height: 30px
}

.mlist a {
    color: #2F486F
}

.mswitch + .mswitch {
    display: none
}

.mswitch > ol {
    list-style-type: decimal-leading-zero
}

.mswitch blockquote {
    padding: 10px 15px;
    margin: 0 0 20px;
    background-color: #f5f5f5;
    border-left: 4px solid #91abd4;
    word-break: break-word;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px
}

.example-demo {
    border: 1px solid #eee;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 0 15px 15px;
    & + .example-visualize{margin-top:20px;}
}

.example-demo:before {
    content: 'Demo';
    display: block;
    color: #bbb;
    text-transform: uppercase;
    margin: 0 -15px 15px;
    padding: 4px 10px;
    font-size: 12px
}

.example-demo .example-visualize {
    margin: 1em
}

.example-visualize {
    padding: 39px 19px 14px;
    border: 1px solid #e8e8e8;
    position: relative;
    & + .example-demo{margin-top:20px;}

    & > ol {
        padding-bottom: 1em;
        padding-top: 1em;
        background: #fefefe;
        & > li {
            margin: .5em
        }
        &.decimal > li{
            margin: .5rem 0 .5rem 32px;
        }
        &.hanja{margin:0 1em;padding-left: 2.5em;}
    }
}

.example-visualize:before {
    content: 'view';
    display: block;
    color: #bbb;
    text-transform: uppercase;
    margin: 0 -15px 15px;
    padding: 4px 10px;
    font-size: 12px;
    background: #fafafa;
    position: absolute;
    left: 15px;
    top: 0;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8
}

.example-visualize .container {
    padding-right: 15px !important;
    padding-left: 15px !important
}

.example-visualize .navbar-header {
    display: block;
    width: 100%
}

.example-visualize .collapse.in {
    clear: both
}

.example-visualize .navbar-header .navbar-toggle {
    display: block
}

.example-visualize .nav {
    float: none !important
}

.example-visualize .nav > li {
    float: none
}

.example-desc {
    padding: 15px;
    background: #f5f5f5;
    color: #333;
    margin-bottom: 35px;
    line-height:1.8;
    .html{
        pre{background:#fff;}
    }
    & > ul {
    padding-bottom: 1em;
    padding-top: 1em;
    background: #fefefe;
    & > li {
            margin-bottom: .5em
        }
    }
    & > ol {
        padding-bottom: 1em;
        padding-top: 1em;
        background: #fefefe;
        & > li {
            margin: .5em
        }
        &.decimal > li{
            margin: .5rem 0 .5rem 32px;
        }
        &.hanja{margin:0 1em;padding-left: 2.5em;}
    }
}

.exm-t1 {
    font-size: 16px;
    color: #333
}

.exm-t2 {
    font-size: 14px;
    color: #333
}


.numbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 120px;
    height: 23px;
    padding: 0 23px;
    vertical-align: middle;
    border: solid 1px #ddd;
    box-sizing: border-box;
    background-color: #fff
}

.numbox [class*=btn-numbox], .numbox [class*=numbox-btn] {
    font-size: 16px;
    color: #ccc;
    position: absolute;
    top: 0;
    width: 23px;
    height: 100%;
    line-height: 21px !important;
    line-height: 21px;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer
}

.numbox .btn-numbox-plus, .numbox .numbox-btn-plus {
    right: 0
}

.numbox .btn-numbox-minus, .numbox .numbox-btn-minus {
    left: 0
}

.numbox .input-numbox {
    display: inline-block;
    overflow: hidden;
    width: 100% !important;
    height: 100%;
    margin: 0;
    padding: 0 3px !important;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
    text-overflow: ellipsis;
    word-break: normal;
    border: none !important;
    border-right: solid 1px #ddd !important;
    border-left: solid 1px #ddd !important;
    border-radius: 0 !important
}


.p-select {
    border: solid 1px #ddd;
    box-sizing: border-box;
    vertical-align: middle;
    width: 100%;
    display: inline-block;
    position: relative
}

.p-select select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    padding: 6px 14px;
    box-sizing: border-box;
    cursor: pointer;
    line-height: normal;
    font-weight: 400;
    width: 100%;
    white-space: nowrap
}

.p-select select::-ms-expand {
    display: none
}

.p-select select:focus {
    outline: 0
}

.p-select:before {
    font-family: fontico;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e313";
    color: #333;
    width: 40px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 20px;
    line-height: 20px;
    margin-top: -10px
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse !important
}

.table td, .table th {
    background-color: #fff !important
}

.table-bordered td, .table-bordered th {
    border: 1px solid #ddd !important
}

.table-bordered {
    border: 1px solid #ddd
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #ddd
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-bottom-width: 2px
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

.table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    border-top: 0
}

.table > tbody + tbody {
    border-top: 2px solid #ddd
}

.table .table {
    background-color: #fff
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd
    }
    .table-responsive > .table {
        margin-bottom: 0
    }
    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: nowrap
    }
    .table-responsive > .table-bordered {
        border: 0
    }
    .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > thead > tr > th:first-child {
        border-left: 0
    }
    .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > thead > tr > th:last-child {
        border-right: 0
    }
    .table-responsive > .table-bordered > tbody > tr:last-child > td, .table-responsive > .table-bordered > tbody > tr:last-child > th, .table-responsive > .table-bordered > tfoot > tr:last-child > td, .table-responsive > .table-bordered > tfoot > tr:last-child > th {
        border-bottom: 0
    }
}

.fonticons {
    overflow: hidden
}

.fonticons-list {
    list-style: none
}

.fonticons-list li {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff
}

.fonticons-list li:hover {
    background: #2F486F;
    color: #fff;
    -moz-transition: background .5s ease-in, color .3s ease-out;
    -webkit-transition: background .5s ease-in, color .3s ease-out;
    -o-transition: background .5s ease-in, color .3s ease-out;
    transition: background .5s ease-in, color .3s ease-out
}

.fonticons-list li [class*=" f-"], .fonticons-list li [class^=f-] {
    font-size: 20px;
    line-height: inherit
}

body > .view-container {
    padding-bottom: 90px
}

.docs-header {
    color: #b9c8e0;
    background-color: #2F486F;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15)
}

.docs-header h1 {
    color: #fff;
    font-size: 20px;
    margin: 0 0 1.6rem 0
}

.docs-header h2 {
    color: #fff;
    font-size: 20px;
    margin: 0 0 1.6rem 0
}

.docs-header p {
    font-weight: 300;
    line-height: 1.5
}

.docs-header .container {
    position: relative;
    padding: 30px;
    box-sizing: border-box
}

@media (min-width: 768px) {
    .docs-header {
        font-size: 24px
    }
    .docs-header h1 {
        font-size: 64px;
        line-height: 1.5
    }
    .docs-header h2 {
        font-size: 36px;
        line-height: 1.5
    }
}

.feature-list {
    padding: 30px 15px;
    overflow: hidden;
    box-sizing: border-box
}

.feature-list-item {
    border-radius: 3px;
    border: 1px solid #eee;
    background: #fff;
    padding: 15px;
    text-align: center
}

.feature-list div ~ div {
    margin-top: 15px
}

.feature-desc {
    text-align: center;
    line-height: 20px
}

@media (min-width: 768px) {
    .feature-list {
        margin: 60px 0
    }
    .feature-list div ~ div {
        margin-top: 0
    }
    .feature-desc {
        text-align: left
    }
}

.main-container {
    padding-top: 30px;
    padding-bottom: 30px
}

.footer {
    padding: 30px 0;
    color: #666;
    background: #fff;
    border-top: 1px solid #eee
}

.footer-links a {
    color: #666
}

.panel-plugin {
    overflow: hidden;
    position: relative
}

.keyboard-block {
    position: relative;
    top: 10px;
    background: 0 0;
    z-index: 9;
    visibility: hidden;
    transition: all .5s linear
}

.keyboard-transition {
    transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s
}

.keyboard-block .object-img {
    width: 100%
}

.k-table {
    background: #44679E;
    padding-bottom: 10px
}

.k-table table {
    width: 100%
}

.k-table td {
    width: 20%;
    height: 42px;
    padding: 5px
}

.k-table td:first-child button {
    background: #2F486F;
    font-weight: 700
}

.k-table button {
    border: 0;
    width: 100%;
    height: 100%;
    background: 0 0;
    color: #fff;
    font-size: 1.35rem;
    border-radius: 10px;
    font-weight: 100
}

.k-table .pay-btn {
    background: #2F486F;
    color: #fff;
    font-size: 14px
}

.enter-price {
    display: inline-block;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    width: 120px;
    font-size: 14px;
    color: #999 !important
}

.enter-price.active {
    color: #333 !important
}

.enter-price span:before {
    content: "￥ ";
    display: none
}

.enter-price span:after {
    content: " 元";
    display: none
}

.enter-price.selected span:after, .enter-price.selected span:before {
    display: inline-block
}

.iscroll {
    position: relative;
    height: 100%;
    width: 100%
}

.scroller {
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none
}

.progressbar .scroller {
    width: 100%
}

.progressbar {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 6px;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    vertical-align: middle;
    border-radius: 6px;
    background: #b6b6b6;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.progressbar span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 150ms;
    transition: 150ms;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    background: #007aff
}

[id^=progressbar] {
    width: 200px;
    height: 10px;
    margin-top: 100px;
    margin-bottom: 50px
}

div[id^=scrollBar] {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    cursor: pointer
}

[id^=scroll_Track] {
    width: 0;
    height: 100%;
    background-color: #f40;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}

[id^=scroll_Thumb] {
    height: 25px;
    width: 25px;
    background-color: #efefef;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    position: absolute;
    margin-top: -18px;
    cursor: pointer
}

.pro-time {
    color: #7c7c7c;
    font-style: italic;
    line-height: 17px
}

.pro-time i {
    background: #464646;
    color: #fff;
    padding: 0 2px;
    display: inline-block;
    width: 13px;
    font-size: 12px;
    text-align: left;
    height: 17px;
    line-height: 17px
}

.pro-time i ~ i {
    margin-left: 2px
}

#go-top {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    border-radius: 50%;
    background-color: #eee;
    color: #555;
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 70px;
    z-index: 100000;
    opacity: .7
}

#go-top:hover {
    opacity: 1
}

#go-top.active {
    display: block
}

@media (min-width: 768px) {
    .show-sm-only {
        display: none !important
    }
    #go-top {
        bottom: 10px
    }
    #sidebar .fixed {
        max-height: 100000px !important;
        bottom: 100px
    }
}

@media (max-width: 767px) {
    .show-pc-only {
        display: none !important
    }
    .mswitch.show-pc-only + .mswitch {
        display: block
    }
    *, :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .sidebar-menu {
        max-height: 100000px !important;
        overflow-y: hidden !important;
        width: 100% !important
    }
    ol .example-visualize, ol .example-visualize ~ .example-desc, ol .example-visualize ~ .html {
        margin-left: -1.8rem
    }
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-button {
    display: none
}

::-webkit-scrollbar-track {
    background: #F5F5F5
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px
}


/* ============ app-login ============ */
.app-login{padding-left: 30px;padding-right: 30px;
    .form-listbox{position: relative;margin-top: 18px;
        &.actived{
            .input-label{visibility: visible;transition: top .3s;top:0;}
        }
        &.inputCorrect{
            .result-icon{display: block;}
            & + .form-listbox{
                .disable-layer{display: none;}
            }
            &.inputted{
                .result-icon{display: none;}
            }
        }
        &.inputError{
            .wrong-icon{
                &.wrong-icon-cuo{display: block;}
            }
            & ~ .inputError{
                .wrong-icon{
                    &.wrong-icon-cuo{display: none;}
                }
            }
            & ~ .form-listbox{
                .disable-layer{display: block;}
            }
        }
        &.inputting{
            .wrong-icon{
                &.wrong-icon-cuo{display: none;}
            }
            & ~ .form-listbox{
                .wrong-icon{
                    &.wrong-icon-cuo{display: none;}
                }
            }
            &.overlength{
                .wrong-icon{
                    &.wrong-icon-cuo{display: block;}
                }
            }
        }
        .disable-layer{position: absolute;left:0;right:0;bottom:0;background:transparent;height:36px;}
        .input-label{visibility: hidden;position: relative;top:30px;}
        .result-icon{position:absolute;left:100%;top:8px;margin-left:12px;display:none;
            .i-correct{display:inline-block;}
        }
        .result-msg{height:27px;position:absolute;top:0;left:0;background:#fff;}
        .wrong-icon{line-height:17px;color:#bcbcbc;padding-left:10px;
            &.wrong-icon-cuo{display:none;color:#ef3232;font-size:14px;padding-left:0;}
            .jiant-icon{float:left;display:inline-block;vertical-align: top;}
        }
        .get-code{background:none;cursor:pointer;margin:0;line-height:40px;color:#246bbb;font-size:14px;position:absolute;right:2px;top:0;bottom:0;}
        [class*="eye"]{position:absolute;right:5px;top:50%;margin-top:-10px;display:block;z-index:2;}
        .eye-show{}
        .ac-tip{font-size: 12px;color:#a5a5a5;padding-top: 6px;text-align: left;
            a{color:#246bbb;}
        }
    }
    .input-label{color:#7e7e7e;font-size: 14px;display: block;margin-bottom: 6px;}
    .input-box{font-size: 16px;position: relative;padding-left:0;background: #fff;z-index: 1;
        &.border-active{border-bottom: 1px solid #dcdcdc;
            &.border-actived{border-bottom-color:#2e92fc;transition: all .3s;}
        }
        input{@include placeholders(#bababa,16px);font-size: 16px;}
        .i-phone,.i-vcode,.i-password{display: block;position:absolute;left:-40px;top:50%;margin-top:-16px;}
    }
    .inp-font{padding: 8px 0;display: block;width: 80%;line-height: 20px;}

    .eye-show {@include size(20px,16px);background: url('../images/eye-show.png') no-repeat center center;background-size: 20px auto;}
    .eye {@include size(20px,16px);background: url('../images/eye.png') no-repeat center center;background-size: 20px auto;}
    .i-correct{@include size(20px,20px);background: url('../images/i-correct.png') no-repeat center center; background-size: 20px auto;}
    .i-error{ @include size(18px,17px);background: url('../images/i-error.png') no-repeat center center; background-size: 18px auto; }

    .agree-con{font-size: 14px;color:#4b4b4b;padding: 20px 0 30px;
        a{color:#3b86c9;}
        [class|="i-check"]{display: block;background:url(../images/i-check.png) no-repeat center bottom;@include size(12px,14px);}
        input[type="checkbox"]{position: absolute;visibility: hidden;opacity: 0;
            & + .i-checkbox{position: relative;white-space: nowrap;color:#4b4b4b;padding-left: 18px;margin-right: 3px;
                [class|="i-check"]{position: absolute;left:0;top:50%;margin-top: -7px;*margin-top:-12px;}
            }
            &:checked{
                & + .i-checkbox{
                    [class|="i-check"]{background-position: center top;}
                }
            }
        }
        &.checkdbox{
            input[type="checkbox"]{
                & + .i-checkbox{
                    [class|="i-check"]{background-position: center top;}
                }
            }
        }
    }

    /* /mw979/ */
    @media (max-width:980px){
        //.form-listbox{margin-top: 32px;
        //    .input-label{top:50px;line-height:37px;color:#4b4b4b;}
        //    .disable-layer{height:56px;}
        //    .result-icon{top:14px;margin-left:12px;
        //        .i-correct{}
        //    }
        //    .result-msg{height:37px;}
        //    .wrong-icon{
        //        &.wrong-icon-cuo{font-size:20px;line-height: 30px;}
        //        .jiant-icon{}
        //    }
        //    .get-code{line-height:40px;font-size:24px;right:4px;}
        //    [class*="eye"]{right:5px;margin-top:-15px;}
        //
        //    .ac-tip{font-size: 20px;padding-top:12px;}
        //}
        //
        //.input-label{font-size: 28px;margin-bottom: 16px;}
        //.input-box{font-size: 24px;
        //    input{@include placeholders(#bababa,24px);font-size: 28px;}
        //    .i-phone,.i-vcode,.i-password{left:-64px;margin-top:-18px;}
        //}
        //.inp-font{padding: 8px 0;line-height: 40px;}
        //.agree-con{font-size: 22px;padding: 40px 0 60px;
        //    [class|="i-check"]{/*background-image:url(../images/simuaccount2/i-check-m.png);*/background-size:22px auto;@include size(22px,23px);}
        //    input[type="checkbox"]{
        //        & + .i-checkbox{margin-right: 3px;padding-left: 30px;
        //            [class|="i-check"]{margin-top:-11px;}
        //        }
        //    }
        //}
    }
}


/* ============ gallery ============ */
.my-gallery{@include clearfix();margin-top: 15px;
    figure{display: block;float: left;margin: 5px 20px 20px 0;@include size(80px,80px);overflow: hidden}
}