
@import "plugins/carousel";
@import "plugins/picswitch";
@import "plugins/popup";
@import "plugins/prettyprint";
@import "plugins/rotary";

.execCommandCopy{
  .link-txt{border-radius:6px;background:#e9e9e9;padding: 10px;
    input{font-size: 18px;color:#444;line-height: 24px;height:24px;width:100%;display: block;background: none;}
  }
}