/* ============ Plugins ============ */
// Layout
@import "variables/variables";
@import "mixins/library";

.picswitch {
  position: relative;
  height: 273px;
  overflow: hidden;
  padding: 0 80px
}

.picswitch .arrow-btn {
  display: block;
  width: 76px;
  height: 271px;
  line-height: 271px;
  text-align: center;
  font-size: 2em;
  border: 1px solid #dde2ea;
  background-color: #f4f6f9;
  position: absolute;
  top: 0;
  cursor: pointer;
  transition: all .5s ease-out
}

.picswitch .arrow-btn:hover {
  background: #5fa2ea
}

.picswitch .arrow-prev {
  left: 0
}

.picswitch .arrow-next {
  right: 0
}

.picswitch .arrow-btn.disable-btn {
  color: #999
}

.picswitch .arrow-btn.disable-btn:hover {
  background: #f4f6f9
}

.picswitch-itmes {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100%
}

.picswitch ul {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%
}

.picswitch li {
  overflow: hidden;
  background: #fff;
  width: 100%;
  float: left;
  height: 100%
}

.picswitch li > img {
  width: 100%;
  height: 100%
}

.infos-play {height: 32px;overflow: hidden;color: rgba(237, 79, 79, .8);
  .up {color: #74a258;}
  .p1 {font-size: 16px;line-height: 22px;}
  .p2 {font-size: 10px;line-height: 10px;}
}

.winners-list{overflow: hidden;padding: 10px;border: 1px solid #ccc;
  ul{position: relative;
    li{list-style: disc;font-size: 12px;line-height: 2;
      b{font-weight: 500;}
    }
  }
  &.eachOneScrollLeft,&.marqueeScrollLeft{white-space: nowrap;width:100%;height:24px;overflow: hidden;
    *{display: inline;}
    ul{
      li{margin-left: 40px;}
    }
  }
  &.eachOneScrollUp,&.marqueeScrollUp{height:167px;
    ul{margin-left: 20px;}
  }
}
.marqueeScrollWrapper{width:100%;overflow: hidden;position: relative;
  .marqueeScrollLeft{white-space: nowrap;width:100%;height:24px;overflow: hidden;
    *{display: inline;}
  }
  .marqueeScrollUp{

  }
}