
/* ============ Nav ============ */
.navbar {
  position: relative;
  z-index: 1000;
  min-height: 60px;
  margin-bottom: 20px;
  border: 1px solid transparent
}

.navbar-shadows {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
  background-color: #1d365d;
  border-color: rgba(0, 0, 0, .2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .07)
}

.collapse {
  display: none
}

@media (min-width: 768px) {
  .navbar-header {
    float: left
  }
}

.nav-collapse {
  max-height: 340px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  -webkit-overflow-scrolling: touch
}

.nav-collapse:after, .nav-collapse:before {
  content: " ";
  display: table
}

.nav-collapse:after {
  clear: both
}

.collapse.in {
  display: block
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .3s ease;
  transition: height .3s ease
}

@media (min-width: 768px) {
  .nav-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none
  }
  .nav-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important
  }
  .nav-collapse.in {
    overflow-y: visible
  }
  .nav-collapse .nav.nav-left:first-child {
    margin-left: -15px
  }
  .nav-collapse .nav.nav-right:last-child {
    margin-right: -15px
  }
}

.container > .nav-collapse, .container > .navbar-header {
  margin-right: -15px;
  margin-left: -15px
}

@media (min-width: 768px) {
  .container > .nav-collapse, .container > .navbar-header {
    margin-right: 0;
    margin-left: 0
  }
}

@media (min-width: 768px) {
  .nav-left {
    float: left !important
  }
  .nav-right {
    float: right !important;
    margin-right: -15px
  }
  .nav-right ~ .nav-right {
    margin-right: 0
  }
}

.navbar-inverse .nav-collapse {
  border-color: #152642
}

.navbar-fixed-bottom, .navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  border-width: 0 0 1px;
  z-index: 99999
}

.navbar-fixed-top {
  top: 0
}

.navbar-fixed-top + div {
  padding-top: 60px
}

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0
}

@media (max-width: 767px) {
  .navbar-fixed-bottom {
    display: none
  }
  body > .view-container {
    padding-bottom: 0
  }
}

.navbar-inverse {
  background-color: #1d365d;
  border-color: #111f36
}

.navbar-brand {
  float: left;
  padding: 20px 15px;
  font-size: 18px;
  line-height: 20px
}

.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none
}

.navbar-brand {
  margin: 10px;
  width: 100px;
  padding: 0
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 13px;
  margin-bottom: 13px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none
  }
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none
}

.nav:after, .nav:before {
  content: " ";
  display: table
}

.nav:after {
  clear: both
}

.nav:after, .nav:before {
  content: " ";
  display: table
}

.nav:after {
  clear: both
}

.nav > li {
  position: relative;
  display: block
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #b9c8e0
}

.nav > li > a:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, .2);
  color: #fff
}

.nav > li.disabled > a {
  color: #999
}

.nav > li.disabled > a:focus, .nav > li.disabled > a:hover {
  color: #999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed
}

.nav {
  margin: 10px -15px
}

.nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px
}

@media (min-width: 768px) {
  .nav {
    float: left;
    margin: 0
  }
  .nav > li {
    float: left
  }
  .nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px
  }
}

.navbar-header:after, .navbar-header:before {
  content: " ";
  display: table
}

.navbar-header:after {
  clear: both
}

.navbar-header:after, .navbar-header:before {
  content: " ";
  display: table
}

.navbar-header:after {
  clear: both
}

.nav > .active > a {
  color: #fff;
  background-color: rgba(0, 0, 0, .2)
}