
<!--div.mlist>((div.mtit>span)+div.mcon>ol>li>a)-->
<!--div.mswitch>(div.pt10.pb10+div.example-visualize)-->


<div class="mlist">
    <div class="mtit"><span>目录</span></div>
    <div class="mcon">
        <ol>
            <li><a href="">进度条</a></li>
            <li><a href="">闪烁</a></li>
            <li><a href="">路径动画</a></li>
            <li><a href="">数字过渡</a></li>
            <li><a href="">文字展示</a></li>
        </ol>
    </div>
</div>
<div class="mswitch">
    <div class="pt10 pb10">progress bar</div>
    <div class="example-visualize">
        <div class="progress-bar">
            <div style="width:51%" class="filled-bar"><span class="ani"><i class="line"></i></span></div>
        </div>
    </div>
</div>
<div class="mswitch">
    <div class="pt10 pb10">光圈闪烁</div>
    <div class="example-visualize">
        <a href="javascript:;"><span class="scaleout al-c">立即抽奖</span></a>
    </div>
    <div class="pt10 pb10">圆点闪烁</div>
    <div class="example-visualize">
        <span class="dotflash"></span>
    </div>
    <div class="example-visualize">
        <!--<span class="dotswitch"></span>-->
        <i class="dotswitch2-1"></i>
        <i class="dotswitch2-2"></i>
        <i class="dotswitch2-1"></i>
        <i class="dotswitch2-2"></i>
    </div>
</div>
<div class="mswitch">
    <h3 class="mb10 pt10">不规则曲线路径</h3>
    <div class="example-visualize">
        <div class="pos_re multi-chain">
            <span class="dot dot-1 pos_ab"></span>
            <span class="dot dot-2 pos_ab"></span>
            <span class="dot dot-3 pos_ab"></span>
            <span class="dot dot-4 pos_ab"></span>
            <span class="dot dot-5 pos_ab"></span>
        </div>
    </div>
</div>

<div class="mswitch">
    <div class="pt10 pb10">数字0-9过渡</div>
    <div class="example-visualize">
        <div class="mt-number-animate">
            <div class="mt-number-animate-dom numtransy0" data-num="0" style="transform: translateY(0);"><span
                    class="mt-number-animate-span">0</span> <span class="mt-number-animate-span">1</span> <span
                    class="mt-number-animate-span">2</span> <span class="mt-number-animate-span">3</span> <span
                    class="mt-number-animate-span">4</span> <span class="mt-number-animate-span">5</span> <span
                    class="mt-number-animate-span">6</span> <span class="mt-number-animate-span">7</span> <span
                    class="mt-number-animate-span">8</span> <span class="mt-number-animate-span">9</span> <span
                    class="mt-number-animate-span mt-number-animate-dot">.</span></div>
            <div class="mt-number-animate-dom numtransy1" data-num="1" style="transform: translateY(-32px);"><span
                    class="mt-number-animate-span">0</span> <span class="mt-number-animate-span">1</span> <span
                    class="mt-number-animate-span">2</span> <span class="mt-number-animate-span">3</span> <span
                    class="mt-number-animate-span">4</span> <span class="mt-number-animate-span">5</span> <span
                    class="mt-number-animate-span">6</span> <span class="mt-number-animate-span">7</span> <span
                    class="mt-number-animate-span">8</span> <span class="mt-number-animate-span">9</span> <span
                    class="mt-number-animate-span mt-number-animate-dot">.</span></div>
            <div class="mt-number-animate-dom numtransy3" data-num="3" style="transform: translateY(-96px);"><span
                    class="mt-number-animate-span">0</span> <span class="mt-number-animate-span">1</span> <span
                    class="mt-number-animate-span">2</span> <span class="mt-number-animate-span">3</span> <span
                    class="mt-number-animate-span">4</span> <span class="mt-number-animate-span">5</span> <span
                    class="mt-number-animate-span">6</span> <span class="mt-number-animate-span">7</span> <span
                    class="mt-number-animate-span">8</span> <span class="mt-number-animate-span">9</span> <span
                    class="mt-number-animate-span mt-number-animate-dot">.</span></div>
            <div class="mt-number-animate-dom numtransy4" data-num="4" style="transform: translateY(-128px);"><span
                    class="mt-number-animate-span">0</span> <span class="mt-number-animate-span">1</span> <span
                    class="mt-number-animate-span">2</span> <span class="mt-number-animate-span">3</span> <span
                    class="mt-number-animate-span">4</span> <span class="mt-number-animate-span">5</span> <span
                    class="mt-number-animate-span">6</span> <span class="mt-number-animate-span">7</span> <span
                    class="mt-number-animate-span">8</span> <span class="mt-number-animate-span">9</span> <span
                    class="mt-number-animate-span mt-number-animate-dot">.</span></div>
            <div class="mt-number-animate-dom numtransy5" data-num="5" style="transform: translateY(-160px);"><span
                    class="mt-number-animate-span">0</span> <span class="mt-number-animate-span">1</span> <span
                    class="mt-number-animate-span">2</span> <span class="mt-number-animate-span">3</span> <span
                    class="mt-number-animate-span">4</span> <span class="mt-number-animate-span">5</span> <span
                    class="mt-number-animate-span">6</span> <span class="mt-number-animate-span">7</span> <span
                    class="mt-number-animate-span">8</span> <span class="mt-number-animate-span">9</span> <span
                    class="mt-number-animate-span mt-number-animate-dot">.</span></div>
            <div class="mt-number-animate-dom numtransy6" data-num="6" style="transform: translateY(-192px);"><span
                    class="mt-number-animate-span">0</span> <span class="mt-number-animate-span">1</span> <span
                    class="mt-number-animate-span">2</span> <span class="mt-number-animate-span">3</span> <span
                    class="mt-number-animate-span">4</span> <span class="mt-number-animate-span">5</span> <span
                    class="mt-number-animate-span">6</span> <span class="mt-number-animate-span">7</span> <span
                    class="mt-number-animate-span">8</span> <span class="mt-number-animate-span">9</span> <span
                    class="mt-number-animate-span mt-number-animate-dot">.</span></div>
            <div class="mt-number-animate-dom numtransy7" data-num="7" style="transform: translateY(-224px);"><span
                    class="mt-number-animate-span">0</span> <span class="mt-number-animate-span">1</span> <span
                    class="mt-number-animate-span">2</span> <span class="mt-number-animate-span">3</span> <span
                    class="mt-number-animate-span">4</span> <span class="mt-number-animate-span">5</span> <span
                    class="mt-number-animate-span">6</span> <span class="mt-number-animate-span">7</span> <span
                    class="mt-number-animate-span">8</span> <span class="mt-number-animate-span">9</span> <span
                    class="mt-number-animate-span mt-number-animate-dot">.</span></div>
            <div class="mt-number-animate-dom numtransy8" data-num="8" style="transform: translateY(-256px);"><span
                    class="mt-number-animate-span">0</span> <span class="mt-number-animate-span">1</span> <span
                    class="mt-number-animate-span">2</span> <span class="mt-number-animate-span">3</span> <span
                    class="mt-number-animate-span">4</span> <span class="mt-number-animate-span">5</span> <span
                    class="mt-number-animate-span">6</span> <span class="mt-number-animate-span">7</span> <span
                    class="mt-number-animate-span">8</span> <span class="mt-number-animate-span">9</span> <span
                    class="mt-number-animate-span mt-number-animate-dot">.</span></div>
            <div class="mt-number-animate-dom numtransy9" data-num="9" style="transform: translateY(-288px);"><span
                    class="mt-number-animate-span">0</span> <span class="mt-number-animate-span">1</span> <span
                    class="mt-number-animate-span">2</span> <span class="mt-number-animate-span">3</span> <span
                    class="mt-number-animate-span">4</span> <span class="mt-number-animate-span">5</span> <span
                    class="mt-number-animate-span">6</span> <span class="mt-number-animate-span">7</span> <span
                    class="mt-number-animate-span">8</span> <span class="mt-number-animate-span">9</span> <span
                    class="mt-number-animate-span mt-number-animate-dot">.</span></div>
            <div class="mt-number-animate-dom numtransy10" data-num="10" style="transform: translateY(-320px);"><span
                    class="mt-number-animate-span">0</span> <span class="mt-number-animate-span">1</span> <span
                    class="mt-number-animate-span">2</span> <span class="mt-number-animate-span">3</span> <span
                    class="mt-number-animate-span">4</span> <span class="mt-number-animate-span">5</span> <span
                    class="mt-number-animate-span">6</span> <span class="mt-number-animate-span">7</span> <span
                    class="mt-number-animate-span">8</span> <span class="mt-number-animate-span">9</span> <span
                    class="mt-number-animate-span mt-number-animate-dot">.</span></div>
        </div>
        <div class="mt10 pt25">
            <div class="mt-number-animate">
                <div class="mt-number-animate-dom numtransy9" data-num="9" style="transform: translateY(-288px);"><span
                        class="mt-number-animate-span">0</span> <span class="mt-number-animate-span">1</span> <span
                        class="mt-number-animate-span">2</span> <span class="mt-number-animate-span">3</span> <span
                        class="mt-number-animate-span">4</span> <span class="mt-number-animate-span">5</span> <span
                        class="mt-number-animate-span">6</span> <span class="mt-number-animate-span">7</span> <span
                        class="mt-number-animate-span">8</span> <span class="mt-number-animate-span">9</span> <span
                        class="mt-number-animate-span mt-number-animate-dot">.</span></div>
                <span class="fl-l">亿</span>
                <div class="mt-number-animate-dom numtransy3" data-num="3" style="transform: translateY(-96px);"><span
                        class="mt-number-animate-span">0</span> <span class="mt-number-animate-span">1</span> <span
                        class="mt-number-animate-span">2</span> <span class="mt-number-animate-span">3</span> <span
                        class="mt-number-animate-span">4</span> <span class="mt-number-animate-span">5</span> <span
                        class="mt-number-animate-span">6</span> <span class="mt-number-animate-span">7</span> <span
                        class="mt-number-animate-span">8</span> <span class="mt-number-animate-span">9</span> <span
                        class="mt-number-animate-span mt-number-animate-dot">.</span></div>
                <div class="mt-number-animate-dom numtransy8" data-num="8" style="transform: translateY(-256px);"><span
                        class="mt-number-animate-span">0</span> <span class="mt-number-animate-span">1</span> <span
                        class="mt-number-animate-span">2</span> <span class="mt-number-animate-span">3</span> <span
                        class="mt-number-animate-span">4</span> <span class="mt-number-animate-span">5</span> <span
                        class="mt-number-animate-span">6</span> <span class="mt-number-animate-span">7</span> <span
                        class="mt-number-animate-span">8</span> <span class="mt-number-animate-span">9</span> <span
                        class="mt-number-animate-span mt-number-animate-dot">.</span></div>
                <div class="mt-number-animate-dom numtransy5" data-num="5" style="transform: translateY(-160px);"><span
                        class="mt-number-animate-span">0</span> <span class="mt-number-animate-span">1</span> <span
                        class="mt-number-animate-span">2</span> <span class="mt-number-animate-span">3</span> <span
                        class="mt-number-animate-span">4</span> <span class="mt-number-animate-span">5</span> <span
                        class="mt-number-animate-span">6</span> <span class="mt-number-animate-span">7</span> <span
                        class="mt-number-animate-span">8</span> <span class="mt-number-animate-span">9</span> <span
                        class="mt-number-animate-span mt-number-animate-dot">.</span></div>
                <span class="fl-l">万</span>
            </div>
        </div>
    </div>
</div>

<div class="mswitch">
    <div class="pt10 pb10">文字展示</div>
    <div class="example-visualize">
        <h2 class="title__heading">
            <strong class="hero-section__words">
                <span class="title__effect">We are AweSome</span>
            </strong>
        </h2>
    </div>
</div>

