<ol>
	<li>
		<h3 class="mb10">实例展示</h3>
        <div class="pt10 pb10">progress bar</div>
        <div class="example-visualize">
            <div class="progress-bar">
                <div style="width:51%" class="filled-bar"><span class="ani"><i class="line"></i></span></div>
            </div>
        </div>
        <div class="pt10 pb10">光圈闪烁</div>
        <div class="example-visualize">
            <a href="javascript:;"><span class="scaleout al-c">立即抽奖</span></a>
        </div>
        <div class="pt10 pb10">圆点闪烁</div>
        <div class="example-visualize">
            <span class="dotflash"></span>
        </div>
        <div class="example-visualize">
            <!--<span class="dotswitch"></span>-->
            <i class="dotswitch2-1"></i>
            <i class="dotswitch2-2"></i>
            <i class="dotswitch2-1"></i>
            <i class="dotswitch2-2"></i>
        </div>
	</li>
</ol>