<ol>
	<li>
		<h3 class="mb10">实例展示</h3>
		<div class="pt10 pb10">hover</div>
		<div class="example-visualize">
			<ul class="list-col-3 icon-list">
				<li>
					<div class="list-item radius-box">
						<i class="icon-01"></i>
						<b>低门槛</b>
						<p>$70即可投资</p>
					</div>
				</li>
				<li>
					<div class="list-item radius-box">
						<i class="icon-02"></i>
						<b>T+0交易</b>
						<p>随买随卖 平仓不用等</p>
					</div>
				</li>
				<li>
					<div class="list-item radius-box">
						<i class="icon-03"></i>
						<b>双向交易</b>
						<p>选对方向就有机会赚</p>
					</div>
				</li>
				<!--<li>-->
				<!--<div class="list-item radius-box">-->
				<!--<i class="icon-04"></i>-->
				<!--<b>时间灵活</b>-->
				<!--<p>24小时都可交易<span>白天上班晚上交易</span></p>-->
				<!--</div>-->
				<!--</li>-->
			</ul>
		</div>
	</li>
</ol>