.toggleNav{
  &.active{
    & + .togglePanel{display: block;}
  }
  & + .togglePanel{display: none;}
}

.toggleNav{font-size: .28rem;line-height:.3rem;color:#323232;position: relative;display: block;cursor: pointer;font-weight: bold;
  .num-badge{/*position: absolute;left:-.64rem;top:0;*//*background:#ddd;border-radius: 50%;@include size(.5rem,.5rem);line-height: .5rem;text-align: center;*/margin-right: .1rem;
    &:after{content: ':'}
  }
  [class*="i-panel-"]{position: absolute;right:0;top:0;color:#00b3ee;
    &.i-panel-add{
      &:after{content: '+'}
    }
    &.i-panel-minus{
      &:after{content: '-'}
    }
  }
  & + .togglePanel{margin-top: .26rem;padding-left: .06rem;}
}