/* ============ Navbar ============ */

$navbar-inverse-bg: #222 !default;
$navbar-height: 60px;
$navbar-margin-bottom: 20px;
$navbar-padding-horizontal: floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical: (($navbar-height - $line-height-computed) / 2) !default;

.navbar {
    position: relative;
    z-index: 1000;
    min-height: $navbar-height;
    margin-bottom: $navbar-margin-bottom;
    border: 1px solid transparent;
    @include clearfix;
}

.navbar-shadows {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
    background-color: #1d365d;
    border-color: rgba(0, 0, 0, .2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .07)
}

.collapse {
    display: none;
}

.navbar-header {
    @include clearfix;

    @media (min-width: $grid-float-breakpoint) {
        float: left;
    }
}

.navbar-collapse {
    max-height: 340px;
    overflow-x: visible;
    padding-right: $navbar-padding-horizontal;
    padding-left: $navbar-padding-horizontal;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    @include clearfix;
    -webkit-overflow-scrolling: touch;

    &.in {
        display: block;
    }

    @media (min-width: $grid-float-breakpoint) {
        width: auto;
        border-top: 0;
        box-shadow: none;

        &.collapse {
            display: block;
            height: auto;
            padding-bottom: 0; // Override default setting
            overflow: visible;
        }

        &.in {
            overflow-y: visible;
        }

    }
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
}

.container > .nav-collapse, .container > .navbar-header {
    margin-right: -$navbar-padding-horizontal;
    margin-left: -$navbar-padding-horizontal;
    @media (min-width: $grid-float-breakpoint) {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (min-width: $grid-float-breakpoint) {
    .nav-left {
        float: left;
    }
    .nav-right {
        float: right;
        margin-right: -$navbar-padding-horizontal;
        ~ .nav-right {
            margin-right: 0;
        }
    }
}

.navbar-inverse {
    background-color: #1d365d;
    border-color: #111f36;

    .navbar-collapse {
        border-color: darken($navbar-inverse-bg, 7%);
    }
}

.navbar-brand {
    float: left;
    padding: $navbar-padding-vertical/2 $navbar-padding-horizontal;
    font-size: $font-size-large;
    line-height: $line-height-computed;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    @media (min-width: $grid-float-breakpoint) {
        .navbar > .container &,
        .navbar > .container-fluid & {
            margin-left: -$navbar-padding-horizontal;
        }
    }
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    border-width: 0 0 1px;
    z-index: 99999
}

.navbar-fixed-top {
    top: 0;
    + div {
        padding-top: $navbar-height;
    }
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    display: none;

    @media (min-width: $grid-float-breakpoint) {
        display: block;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: $navbar-padding-horizontal;
    padding: $navbar-padding-vertical/2;
    margin-top: 13px;
    margin-bottom: 13px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #fff;
        + .icon-bar {
            margin-top: 4px;
        }
    }
    @media (min-width: $grid-float-breakpoint) {
        display: none;
    }
}

.nav {
    padding-left: 0;
    list-style: none;
    margin: $navbar-padding-vertical/2 -$navbar-padding-horizontal;
    @include clearfix;

    > li {
        position: relative;
        display: block;
        &.disabled > a {
            color: #999;
            &:focus,
            &:hover {
                color: #999;
                text-decoration: none;
                background-color: transparent;
                cursor: not-allowed;
            }
        }
        > a {
            position: relative;
            display: block;
            padding: $navbar-padding-vertical/2 $navbar-padding-horizontal;
            color: #b9c8e0;
            line-height: $line-height-computed;
            &:hover {
                text-decoration: none;
                background: rgba(0, 0, 0, .2);
                color: #fff;
            }
        }
    }
    .active > a {
        color: #fff;
        background-color: rgba(0, 0, 0, .2)
    }
    @media (min-width: $grid-float-breakpoint) {
        margin: 0;
        > li {
            float: left;
            > a {
                padding-top: $navbar-padding-vertical;
                padding-bottom: $navbar-padding-vertical;
            }
        }
    }
}
