.searchbar-wrap{
  background-color: #ebeced;
  padding: 10px;
}
.searchbar {
  background: #fff;
  height: 30px;
  line-height: 30px;
  position: relative;
  color: #bbb;
  font-size: 14px;
  width: 100%;
}
.searchbar input {
  -webkit-appearance: none;
  border: 0;
  background: 0 0;
  color: #000;
  width:100%;
}
.searchbar .searchbar-input{position: relative;}
.searchbar .btn-search ~ .searchbar-input{margin-right:54px;padding: 0 10px;}
.searchbar .btn-search{
  height:30px;width:54px;padding:0;float: right;
}
.searchbar .f-search{float: left;height:30px;width:30px;display: block;line-height: 30px;text-align: center;}
.searchbar .f-search ~ .searchbar-input{margin-left:30px;padding-left: 0;}
.searchbar .f-cross{position: absolute;height:30px;width: 30px;line-height: 30px;text-align: center;right:0;top:0;display: none;}
.searchbar input:focus + .f-cross{display: block;}