.tips {
  padding: 15px;
  margin-bottom: 20px;
}
.tips-success {
  color: #3c763d;
  background-color: #dff0d8;
  border:1px solid #d6e9c6;
}
.tips-info {
  color: #31708f;
  background-color: #d9edf7;
  border:1px solid #bce8f1;
}
.tips-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border:1px solid #faebcc;
}
.tips-danger {
  color: #a94442;
  background-color: #f2dede;
  border:1px solid #ebccd1;
}
.tips-dismissible {
  padding-right:35px;position: relative;
}
.tips .right-ab {
  position: absolute;
  top: 50%;
  margin-top:-7px;
  right: 0;
  color: inherit;
  width:35px;
  text-align: center;
  cursor: pointer;
}
.tips .tips-txt {position: relative;}
.tooltips{padding-right:35px;position: relative;margin:0;border:0;}
.tooltips ~ .tooltips{border-top: 1px solid #e0e0e0;}
.newstips{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-right: 35px;
}
.newstips:after {
  font-family: fontico!important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  display: block;
  color: inherit;
  content: "\e315";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -22px;
}
.newstips .dot.right-ab{margin-top:0;right:35px;}
.newstips .badge.right-ab{margin-top:0;right:0;top:1px;}
.newstips .dot + .tips-txt{
  padding-right: 15px;
}
.newstips .avatar{width: 40px;height: 40px;float: left;}
.newstips .avatar ~ .tips-txt{margin-left:50px;line-height: 40px;}
.newstips .avatar ~ .tips-txt .right-ab{top:11px;}
.poptips{text-align: center;}