.titlebar{line-height: 30px;overflow: hidden;
    .titlebar-title {position: relative;color: inherit;font-size: 14px;text-align: left;font-weight: 700;}
    .titlebar-nav{}
    a{color: inherit;}
}
.titlebar-default{border-bottom: 1px solid #ddd;
    .titlebar-title {padding-left: 12px;
        &:before {content: "";position: absolute;left: 2px;top: 8px;bottom: 8px;border-left: 3px solid;}
    }
}
.titlebar-multi{border-bottom: 1px solid #ddd;}
.titlebar .fl-r + .titlebar-title{float: left;}