<div class="mlist">
	<div class="mtit"><span>目录</span></div>
	<div class="mcon">
		<ol>
			<li>
				<a href="">基本使用</a>
			</li>
		</ol>
	</div>
</div>
<div class="mswitch">
	<ol class="decimal">
		<li>
			<h3 class="mb10">基本使用</h3>
			<div class="example-demo">
				<footer class="footer">
					<div class="container al-c">
						<div class="footer-links">
							<label>前端推荐：</label>
							<a href="http://www.bootcss.com/">Bootstrap中文网</a> |
							<a href="http://www.jquery123.com/">jQuery API</a>
						</div>
					</div>
				</footer>
			</div>
		</li>
		<li>
			<h3 class="mb10 mt20">响应式底部图文列表</h3>
			<div class="example-demo">
				<div class="fxg-awards-block">
					<div class="fxg-awards-list computer">
						<ul class="flexbox justify-bt">
							<li class="active">
								<i class="i-awards01h"></i>
								<p><span>The Best Value</span> Forex Broker</p>
							</li>
							<li>
								<i class="i-awards02"></i>
								<p><span>Grand Silver Winners</span> Financial Service</p>
							</li>
							<li>
								<i class="i-awards03"></i>
								<p>Gold Winner<span> International Business</span> Achievement</p>
							</li>
							<li>
								<i class="i-awards04"></i>
								<p>Bronze Stevie<span> Award Innovation</span> in Customer Service</p>
							</li>
							<li>
								<i class="i-awards05"></i>
								<p>Silver Winner<span> Innovation in Technology</span> Development</p>
							</li>
							<li>
								<i class="i-awards06"></i>
								<p>Bronze Winner<span> Innovative Use of Technology</span> in Customer Service</p>
							</li>
						</ul>
					</div>
					<div class="fxg-awards-list mobile">
						<ul class="m-awardsList">
							<li>
								<i class="i-awards05"></i>
								<p>Silver Winner<span> Innovation in Technology</span> Development</p>
							</li>
							<li>
								<i class="i-awards06"></i>
								<p>Bronze Winner<span> Innovative Use of Technology</span> in Customer Service</p>
							</li>
							<li class="current">
								<i class="i-awards01h"></i>
								<p><span>The Best Value</span> Forex Broker</p>
							</li>
							<li>
								<i class="i-awards02"></i>
								<p><span>Grand Silver Winners</span> Financial Service</p>
							</li>
							<li>
								<i class="i-awards03"></i>
								<p>Gold Winner<span> International Business</span> Achievement</p>
							</li>
							<li>
								<i class="i-awards04"></i>
								<p>Bronze Stevie<span> Award Innovation</span> in Customer Service</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</li>
	</ol>
</div>