<div class="docs-header">
	<div class="container animation-scale-up" id="docs-con">
		<h2>{{docsTit}}</h2>
		<p>{{docsMsg}}</p>		
	</div>
</div>
<div class="container">

	<div class="row main-container clearfix">

		<div class="col-xs-12 col-sm-3 col-md-3" id="sidebar">
			<div class="sidebar-menu sidebar-slide">
				<section class="sidebar-slide-overlay">
						<dl>
							<dt><a href="javascript:;">基本组件</a></dt>
							<dd ui-sref-active="active"><a ui-sref="component.pages({pageid: 'buttons'})">按钮组</a></dd>
							<dd ui-sref-active="active"><a ui-sref="component.pages({pageid: 'label'})">标签组</a></dd>
						</dl>
						<dl>
							<dt><a href="javascript:;">web组件</a></dt>
							<dd ui-sref-active="active"><a ui-sref="component.pages({pageid: 'header'})">头部页头</a></dd>
							<dd ui-sref-active="active"><a ui-sref="component.pages({pageid: 'search'})">搜索框</a></dd>
							<dd ui-sref-active="active"><a ui-sref="component.pages({pageid: 'tips'})">提示</a></dd>
							<dd ui-sref-active="active"><a ui-sref="component.pages({pageid: 'tabs'})">选项卡</a></dd>
							<dd ui-sref-active="active"><a ui-sref="component.pages({pageid: 'titlebar'})">标题栏</a></dd>
							<dd ui-sref-active="active"><a ui-sref="component.pages({pageid: 'list'})">列表</a></dd>
							<dd ui-sref-active="active"><a ui-sref="component.pages({pageid: 'pagination'})">分页</a></dd>
							<dd ui-sref-active="active"><a ui-sref="component.pages({pageid: 'footer'})">底部页脚</a></dd>
						</dl>
						<dl>
							<dt><a href="javascript:;">App实例</a></dt>
							<dd ui-sref-active="active"><a ui-sref="component.pages({pageid: 'app-login'})">登录</a></dd>
						</dl>
				</section>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9 col-md-9">
			<div ui-view></div>
		</div>

	</div>
</div>