<ol>
	<li>
		<div class="mb10">单选框(radio):</div>
		<div class="example-demo">
			<div class="example-visualize">
				<div class="radio-group">
					<span class="radio-item">
						<input type="radio" name="radioname" id="radio-1" checked>
						<label for="radio-1"></label>
					</span>
					<span class="radio-item">
						<input type="radio" name="radioname" id="radio-2">
						<label for="radio-2"></label>
					</span>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="mb10 pt10">复选框(checkbox):</div>
		<div class="example-demo">
			<div class="example-visualize">
				<div class="checkbox-group" id="checkbox">
					<span class="checkbox-item"><input type="checkbox" id="checkbox-1" checked><label for="checkbox-1"></label></span>
					<span class="checkbox-item"><input type="checkbox" id="checkbox-2"><label for="checkbox-2"></label></span>
					<span class="checkbox-item"><input type="checkbox" id="checkbox-3"><label for="checkbox-3"></label></span>
				</div>
			</div>
			<div class="example-visualize">
				<span class="checkbox-item"><input type="checkbox" id="checkboxall"><label for="checkboxall" ng-click="checkboxAll('#checkboxall','#checkbox')"></label></span> 全选
			</div>
		</div>
	</li>
	<li>
		<div class="mb10 pt10">延伸(switch开关):</div>
		<div class="example-demo">
			<div class="example-visualize">
				<div class="checkbox-group">
					<div class="switch-item">
						<input type="checkbox" id="checkbox-s1" checked><label for="checkbox-s1"></label>
					</div>
					<div class="switch-item">
						<input type="checkbox" id="checkbox-s2"><label for="checkbox-s2"></label>
					</div>
				</div>
			</div>
		</div>
	</li>
</ol>

<script type="text/javascript">
//	var _id_val = 'checkbox',
//		_id_key = 0;
//	$('.example-visualize').each(function() {
//		!$(this).find('input[type="checkbox"]').closest('.checkbox').length && $(this).find('input[type="checkbox"]').each(function() {
//			$(this).attr('id', _id_val + _id_key++);
//			!$(this).closest('.switch').length && $(this).wrap($("<div></div>", {
//				class: "checkbox"
//			}));
//			$(this).after('<label for="' + $(this).attr('id') + '"></label>');
//		});
//		!$(this).find('input[type="checkbox"]').closest('.radio').length && $(this).find('input[type="radio"]').each(function() {
//			$(this).attr('id', _id_val + _id_key++);
//			$(this).wrap($("<div></div>", {
//				class: "radio"
//			}));
//			$(this).after('<label for="' + $(this).attr('id') + '"></label>');
//		});
//	});
//	/*全选、反选*/
//	$('.checkboxall').click(function() {
//		$(this).closest('.example-demo').find('input[type="checkbox"][class!="checkboxnone"]').prop('checked', true);
//	})
//	$('.checkboxnone').click(function() {
//		$(this).closest('.example-demo').find('input[type="checkbox"]').prop('checked', false);
//	})
</script>