<ol>
	<li>
		<h3>单选框(radio):</h3>
		<div class="example-demo">
			<div class="example-visualize">
				<input type="radio" name="radioname" checked>
				<input type="radio" name="radioname">
			</div>
		</div>
		<div class="html">
			<pre><input type="radio" name="radioname">
<input type="radio" name="radioname"></pre>
		</div>
		<h3>js+css全兼容：</h3>
		<!--<div class="example-demo">-->
			<!--<div class="radio-group">-->
				<!--<span class="radio-item"><input type="radio" name="radio1" id="radio1" checked><label for="radio1">A 第3代</label></span>-->
				<!--<span class="radio-item"><input type="radio" name="radio1" id="radio2"><label for="radio2">B 第4代</label></span>-->
				<!--<span class="radio-item"><input type="radio" name="radio1" id="radio3"><label for="radio3">C 第5代</label></span>-->
			<!--</div>-->
		<!--</div>-->
		<div class="html">
			<pre><div class="radio-group">
	<span class="radio-item"><input type="radio" name="radio1" id="radio1" checked><label for="radio1">A 第3代</label></span>
	<span class="radio-item"><input type="radio" name="radio1" id="radio2"><label for="radio2">B 第4代</label></span>
	<span class="radio-item"><input type="radio" name="radio1" id="radio3"><label for="radio3">C 第5代</label></span>
</div></pre>
			<pre>less:
.radio-group{
	.radio-item{
		input[type="radio"]{opacity: 0;filter: alpha(opacity=0);}
		label{padding:1px 0;background-image: url(../images/radio_icon_default.png);background-position: center left;background-repeat: no-repeat;padding-left: 30px;}
		.checked_label{background-image: url(../images/radio_icon_checked.png);}
	}
}
</pre>
			<pre>jquery:
$('.radio-group .radio-item').each(function () {
	$(this).find('input').eq(0).prop('checked') && $(this).find('label').addClass('checked_label');
	$(this).find('label').click(function () {
		$(this).closest('.radio-item').siblings().find('label').removeClass('checked_label');
		!$(this).siblings('input').eq(0).prop('checked') && $(this).addClass('checked_label');
	})
})
</pre>
		</div>
	</li>
	<li>
		<h3>复选框(checkbox):</h3>
		<div class="example-demo">
			<div class="example-visualize">
				<input type="checkbox">
				<input type="checkbox">
				<input type="checkbox">
			</div>
			<div class="html">
				<pre><input type="checkbox">
<input type="checkbox">
<input type="checkbox"></pre>
			</div>
			<div class="example-visualize">
				<input type="checkbox" class="checkboxall"> 全选
				<input type="checkbox" class="checkboxnone"> 反选
			</div>
			<div class="html">
				<pre><input type="checkbox" class="checkboxall"> 全选
<input type="checkbox" class="checkboxnone"> 反选</pre>
			</div>
		</div>
	</li>
	<li>
		<h3>延伸(switch开关):</h3>
		<div class="example-demo">
			<div class="example-visualize">
				<div class="switch">
					<input type="checkbox" checked>
				</div>
				<div class="switch">
					<input type="checkbox">
				</div>
			</div>
			<div class="html">
				<pre><div class="switch">
	<input type="checkbox" checked>
</div>
<div class="switch">
	<input type="checkbox">
</div></pre>
			</div>
		</div>
	</li>
</ol>

<script type="text/javascript">
	var _id_val = 'checkbox',
		_id_key = 0;
	$('.example-visualize').each(function() {
		!$(this).find('input[type="checkbox"]').closest('.checkbox').length && $(this).find('input[type="checkbox"]').each(function() {
			$(this).attr('id', _id_val + _id_key++);
			!$(this).closest('.switch').length && $(this).wrap($("<div></div>", {
				class: "checkbox"
			}));
			$(this).after('<label for="' + $(this).attr('id') + '"></label>');
		});
		!$(this).find('input[type="checkbox"]').closest('.radio').length && $(this).find('input[type="radio"]').each(function() {
			$(this).attr('id', _id_val + _id_key++);
			$(this).wrap($("<div></div>", {
				class: "radio"
			}));
			$(this).after('<label for="' + $(this).attr('id') + '"></label>');
		});
	});
	/*全选、反选*/
	$('.checkboxall').click(function() {
		$(this).closest('.example-demo').find('input[type="checkbox"][class!="checkboxnone"]').prop('checked', true);
	})
	$('.checkboxnone').click(function() {
		$(this).closest('.example-demo').find('input[type="checkbox"]').prop('checked', false);
	})
</script>