
<!--div.mlist>((div.mtit>span)+div.mcon>ol>li>a)-->
<!--div.mswitch>(div.pt10.pb10+div.example-visualize)-->


<div class="mlist">
	<div class="mtit"><span>目录</span></div>
	<div class="mcon">
		<ol>
			<li><a href="">文件选择</a></li>
			<li><a href="">图片上传</a></li>
		</ol>
	</div>
</div>
<div class="mswitch">
	<div class="pt10 pb10"></div>
	<div class="example-demo">
		<div class="example-visualize">
			<span class="file-item"><input type="file"></span>
		</div>
	</div>
</div>


<div class="mswitch">
	<div class="pt10 pb10"></div>
	<div class="example-demo">
		<img src="images/icon3.png" alt="" class="avatar-img" id="localImag">
		<span class="file-item"><input type="file" ng-change="setImagePreview('.file-item')"></span>
	</div>
</div>