<div class="mlist">
	<div class="mtit"><span>目录</span></div>
	<div class="mcon">
		<ol>
			<li><a href="">文本标签</a></li>
			<li><a href="">角标</a></li>
			<li><a href="">徽标</a></li>
		</ol>
	</div>
</div>
<div class="mswitch">
	<div class="example-visualize">
		<span class="label label-default">Default</span>
		<span class="label label-primary">Primary</span>
		<span class="label label-success">Success</span>
		<span class="label label-info">Info</span>
		<span class="label label-warning">Warning</span>
		<span class="label label-danger">Danger</span>
	</div>
	<div class="example-visualize">
		<label class="label label-default">Default</label>
		<label class="label label-primary">Primary</label>
		<label class="label label-success">Success</label>
		<label class="label label-info">Info</label>
		<label class="label label-warning">Warning</label>
		<label class="label label-danger">Danger</label>
	</div>
	<div class="example-visualize">
		<label class="label label-default radius">Default</label>
		<label class="label label-primary radius">Primary</label>
		<label class="label label-success radius">Success</label>
		<label class="label label-info radius">Info</label>
		<label class="label label-warning radius">Warning</label>
		<label class="label label-danger radius">Danger</label>
	</div>
	<div class="example-visualize">
		<label class="label label-default round">Default</label>
		<label class="label label-primary round">Primary</label>
		<label class="label label-success round">Success</label>
		<label class="label label-info round">Info</label>
		<label class="label label-warning round">Warning</label>
		<label class="label label-danger round">Danger</label>
	</div>
	
	<div class="example-desc">
		<ul>
			<li><b>初始化：</b>在要应用按钮样式的元素上添加 .label，再设置相应的颜色；</li>
			<li><b>圆角样式：</b>在默认样式的基础上添加 .radius，默认4px；</li>
			<li><b>椭圆形样式：</b>在默认样式的基础上添加 .round，默认1000px。</li>
		</ul>
	</div>
</div>
<div class="mswitch">
	<ol class="decimal">
		<li>
			<h3>基本使用</h3>
			<div class="example-demo">
				<div class="example-visualize">
					<div class="tag-item">
						<img alt="" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTUwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxNTAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iODAiPjE1MCBYIDE1MDwvdGV4dD4KCTwvZz4KPC9zdmc+">
						<span class="tag tag-default flt">免费</span>
						<span class="tag tag-default flb">免费</span>
						<span class="tag tag-default frb">免费</span>
						<span class="tag tag-default frt">免费</span>
					</div>
				</div>
				<div class="example-visualize">
					<div class="tag-item">
						<img alt="" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTUwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxNTAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iODAiPjE1MCBYIDE1MDwvdGV4dD4KCTwvZz4KPC9zdmc+">
						<span class="tag tag-default flt radius">免费</span>
						<span class="tag tag-default flb radius">免费</span>
						<span class="tag tag-default frb radius">免费</span>
						<span class="tag tag-default frt radius">免费</span>
					</div>
				</div>
			</div>
			<div class="example-desc">
				<ul>
					<li><b>初始化：</b>在要应用按钮样式的元素上添加 .tag ，.tag-default设置默认颜色</li>
					<li><b>圆角按钮：</b>在默认样式的基础上添加.radius，默认4px；</li>
					<li><b>椭圆形按钮：</b>在默认样式的基础上添加.round，默认1000px。</li>
					<li><b>圆形显示：</b>在默认样式的基础上添加.circle。</li>
					<li><b>位置显示：</b>在默认样式的基础上添加 .flt,.flb,.frb,.frt。</li>
				</ul>
			</div>
		</li>
		<li>
			<h3>角标Icon</h3>
			<div class="example-demo">
				<div class="example-visualize">
					<div class="tag-item">
						<img alt="" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTUwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxNTAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iODAiPjE1MCBYIDE1MDwvdGV4dD4KCTwvZz4KPC9zdmc+">
						<span class="tag tag-default flt"><i class="f-fire"></i></span>
					</div>
				</div>
			</div>
		</li>
	</ol>
</div>
<div class="mswitch">
	<ol class="decimal">
		<li>
			<h3 class="mb10">基本使用 </h3>
			<div class="example-visualize">
				<span class="badge">42</span>
				<span class="badge radius">42</span>
				<span class="badge round">42</span>
				<span class="badge circle">42</span>
				<a href="#" class="btn btn-primary">Inbox <span class="badge">42</span></a>
				<button class="btn" type="button"> Inbox <span class="badge">4</span></button>
			</div>
			<div class="example-visualize">
				<span class="badge badge-default">42</span>
				<span class="badge badge-danger">42</span>
				<span class="badge badge-warning">42</span>
				<span class="badge badge-info">42</span>
			</div>
			<div class="example-desc">
				<ul>
					<li><b>初始化：</b>在要应用按钮样式的元素上添加 .badge；</li>
					<li><b>圆角样式：</b>在默认样式的基础上添加 .radius，默认4px；</li>
					<li><b>椭圆形样式：</b>在默认样式的基础上添加 .round，默认1000px。</li>
					<li><b>圆形样式：</b>在默认样式的基础上添加 .circle，默认1000px。</li>
				</ul>
			</div>
		</li>
		<li>
			<h3>点</h3>
			<div class="example-visualize">
				<span class="label-dot"></span>
				<span class="label-dot dot-default"></span>
				<span class="label-dot dot-info"></span>
				<span class="label-dot dot-warning"></span>
				<span class="label-dot dot-danger"></span>
			</div>
			<div class="example-desc">
				给元素加上.label-dot类
			</div>
		</li>
	</ol>
</div>