<ol>
	<li>
		<h3>基本使用</h3>
		<div class="example-demo">
			<div class="example-visualize">
				<div class="tag-item">
					<img alt="" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTUwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxNTAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iODAiPjE1MCBYIDE1MDwvdGV4dD4KCTwvZz4KPC9zdmc+">
					<span class="tag tag-default flt">免费</span>
					<span class="tag tag-default flb">免费</span>
					<span class="tag tag-default frb">免费</span>
					<span class="tag tag-default frt">免费</span>
				</div>
			</div>
			<div class="example-visualize">
				<div class="tag-item">
					<img alt="" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTUwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxNTAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iODAiPjE1MCBYIDE1MDwvdGV4dD4KCTwvZz4KPC9zdmc+">
					<span class="tag tag-default flt radius">免费</span>
					<span class="tag tag-default flb radius">免费</span>
					<span class="tag tag-default frb radius">免费</span>
					<span class="tag tag-default frt radius">免费</span>
				</div>
			</div>
		</div>
		<div class="example-desc">
			<ul>
				<li><b>初始化：</b>在要应用按钮样式的元素上添加 .tag ，.tag-default设置默认颜色</li>
				<li><b>圆角按钮：</b>在默认样式的基础上添加.radius，默认4px；</li>
				<li><b>椭圆形按钮：</b>在默认样式的基础上添加.round，默认1000px。</li>
				<li><b>圆形显示：</b>在默认样式的基础上添加.circle。</li>
				<li><b>位置显示：</b>在默认样式的基础上添加 .flt,.flb,.frb,.frt。</li>
			</ul>
		</div>
	</li>
	<li>
		<h3>角标Icon</h3>		
		<div class="example-demo">
			<div class="example-visualize">
				<div class="tag-item">
					<img alt="" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTUwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxNTAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iODAiPjE1MCBYIDE1MDwvdGV4dD4KCTwvZz4KPC9zdmc+">
					<span class="tag tag-default flt"><i class="f-fire"></i></span>
				</div>
			</div>
			<div class="html">
				<pre><span class="tag tag-default flt"><i class="f-fire"></i></span></pre>
			</div>
		</div>
	</li>
</ol>