<ol>
	<li>
		<h3 class="mb10">基本使用 </h3>
		<div class="example-visualize">
			<span class="badge">42</span>
			<span class="badge radius">42</span>
			<span class="badge round">42</span>
			<span class="badge circle">42</span>
			<a href="#" class="btn btn-primary">Inbox <span class="badge">42</span></a>
			<button class="btn" type="button"> Inbox <span class="badge">4</span></button>
		</div>
		<div class="example-visualize">
			<span class="badge badge-default">42</span>
			<span class="badge badge-danger">42</span>
			<span class="badge badge-warning">42</span>
			<span class="badge badge-info">42</span>
		</div>
		<div class="html">
			<pre><span class="badge">42</span>
<span class="badge radius">42</span>
<span class="badge round">42</span>
<span class="badge circle">42</span>
<a href="#" class="btn btn-primary">Inbox <span class="badge">42</span></a>
<button class="btn" type="button"> Inbox <span class="badge">4</span></button></pre>
		</div>
		<div class="example-desc">
			<ul>
				<li><b>初始化：</b>在要应用按钮样式的元素上添加 .badge；</li>
				<li><b>圆角样式：</b>在默认样式的基础上添加 .radius，默认4px；</li>
				<li><b>椭圆形样式：</b>在默认样式的基础上添加 .round，默认1000px。</li>
				<li><b>圆形样式：</b>在默认样式的基础上添加 .circle，默认1000px。</li>
			</ul>
		</div>
	</li>
	<li>
		<h3>点</h3>
		<div class="example-visualize">
			<span class="dot"></span>
			<span class="dot dot-default"></span>
			<span class="dot dot-info"></span>
			<span class="dot dot-warning"></span>
			<span class="dot dot-danger"></span>
		</div>
		<div class="example-desc">
			给元素加上.dot类
		</div>
	</li>
</ol>