<h3 class="mb10">基本使用 </h3>
<div class="example-demo">
	<div class="example-visualize">
		<span class="label label-default">Default</span>
		<span class="label label-primary">Primary</span>
		<span class="label label-success">Success</span>
		<span class="label label-info">Info</span>
		<span class="label label-warning">Warning</span>
		<span class="label label-danger">Danger</span>
	</div>
	<div class="example-visualize">
		<label class="label label-default">Default</label>
		<label class="label label-primary">Primary</label>
		<label class="label label-success">Success</label>
		<label class="label label-info">Info</label>
		<label class="label label-warning">Warning</label>
		<label class="label label-danger">Danger</label>
	</div>
	<div class="example-visualize">
		<label class="label label-default radius">Default</label>
		<label class="label label-primary radius">Primary</label>
		<label class="label label-success radius">Success</label>
		<label class="label label-info radius">Info</label>
		<label class="label label-warning radius">Warning</label>
		<label class="label label-danger radius">Danger</label>
	</div>
	<div class="example-visualize">
		<label class="label label-default round">Default</label>
		<label class="label label-primary round">Primary</label>
		<label class="label label-success round">Success</label>
		<label class="label label-info round">Info</label>
		<label class="label label-warning round">Warning</label>
		<label class="label label-danger round">Danger</label>
	</div>
</div>
<div class="example-desc">
	<ul>
		<li><b>初始化：</b>在要应用按钮样式的元素上添加 .label，再设置相应的颜色；</li>
		<li><b>圆角样式：</b>在默认样式的基础上添加 .radius，默认4px；</li>
		<li><b>椭圆形样式：</b>在默认样式的基础上添加 .round，默认1000px。</li>
	</ul>
</div>