<div class="mlist">
	<div class="mtit"><span>目录</span></div>
	<div class="mcon">
		<ol>
			<li><a href="">文字列表</a></li>
			<li><a href="">图文列表</a></li>
			<li><a href="">评论列表</a></li>
		</ol>
	</div>
</div>
<div class="mswitch">
	<ol class="decimal">
		<li>
			<h3 class="mb10">基本使用</h3>
			<div class="example-visualize">
				<ul class="list">
					<li class="list-item-dated">
	                    <span class="list-date fl-r">2013-09-18</span>
						<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
					</li>
					<li class="list-item-dated">
	                    <span class="list-date fl-r">2013-09-18</span>
						<a href="" class="list-txt txt-ellipsis">我很囧，你保重....那些囧晒晒旅行中的那些囧！</a>
					</li>
					<li class="list-item-dated">
	                    <span class="list-date fl-r">2013-09-18</span>
						<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中！</a>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h3 class="mb10">带头部标题</h3>
			<div class="example-visualize">
				<div class="titlebar titlebar-default">
					<a href="" class="fl-r more">more &raquo;</a>
					<h2 class="titlebar-title ">栏目标题</h2>
	            </div>
				<ul class="list">
					<li class="list-item-dated">
	                    <span class="list-date fl-r">2013-09-18</span>
						<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
					</li>
					<li class="list-item-dated">
	                    <span class="list-date fl-r">2013-09-18</span>
						<a href="" class="list-txt txt-ellipsis">我很囧，你保重....那些囧晒晒旅行中的那些囧！</a>
					</li>
					<li class="list-item-dated">
	                    <span class="list-date fl-r">2013-09-18</span>
						<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中！</a>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h3 class="mb10">带底部查看更多</h3>
			<div class="example-visualize">
				<div class="titlebar titlebar-default">
					<h2 class="titlebar-title ">栏目标题</h2>
	            </div>
				<ul class="list">
					<li class="list-item-dated">
	                    <span class="list-date fl-r">2013-09-18</span>
						<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
					</li>
					<li class="list-item-dated">
	                    <span class="list-date fl-r">2013-09-18</span>
						<a href="" class="list-txt txt-ellipsis">我很囧，你保重....那些囧晒晒旅行中的那些囧！</a>
					</li>
					<li class="list-item-dated">
	                    <span class="list-date fl-r">2013-09-18</span>
						<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中！</a>
					</li>
				</ul>
				<div class="list al-c">
		            <a class="btn btn-default" href="#">查看更多 &raquo;</a>
		        </div>
			</div>
		</li>
		<li>
			<h3 class="mb10">带摘要</h3>
			<div class="example-visualize">
				<div class="titlebar titlebar-default">
					<a href="" class="fl-r more">more &raquo;</a>
					<h2 class="titlebar-title ">栏目标题</h2>
	            </div>
				<ul class="list">
					<li class="list-item-desced">
						<a href="" class="list-txt">我很囧，你保重....晒晒旅行！</a>
						<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
					</li>
					<li class="list-item-desced">
						<a href="" class="list-txt">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
						<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
					</li>
				</ul>
			</div>
		</li>
	</ol>
</div>
<div class="mswitch">
	<ol class="decimal">
		<li>
			<h3 class="mb10">上图+摘要</h3>
			<div class="example-visualize">
				<div class="titlebar titlebar-default">
					<a href="" class="fl-r more">more &raquo;</a>
					<h2 class="titlebar-title ">栏目标题</h2>
				</div>
				<ul class="list">
					<li class="list-item-desced">
						<div class="list-thumb-top">
							<a href=""><img class="img-responsive center-block" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
						</div>
						<a href="" class="list-txt">我很囧，你保重....晒晒旅行！</a>
						<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
					</li>
					<li class="list-item-desced">
						<div class="list-thumb-top">
							<a href=""><img class="img-responsive center-block" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
						</div>
						<a href="" class="list-txt">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
						<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h3 class="mb10">左图+摘要</h3>
			<div class="example-visualize">
				<div class="titlebar titlebar-default">
					<a href="" class="fl-r more">more &raquo;</a>
					<h2 class="titlebar-title ">栏目标题</h2>
				</div>
				<ul class="list">
					<li class="list-item-desced">
						<div class="list-thumb-left">
							<a href=""><img class="img-responsive" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
						</div>
						<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行！</a>
						<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
					</li>
					<li class="list-item-desced">
						<div class="list-thumb-left">
							<a href=""><img class="img-responsive" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
						</div>
						<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
						<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h3 class="mb10">右图+摘要</h3>
			<div class="example-visualize">
				<div class="titlebar titlebar-default">
					<a href="" class="fl-r more">more &raquo;</a>
					<h2 class="titlebar-title ">栏目标题</h2>
				</div>
				<ul class="list">
					<li class="list-item-desced">
						<div class="list-thumb-right">
							<a href=""><img class="img-responsive" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
						</div>
						<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行！</a>
						<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
					</li>
					<li class="list-item-desced">
						<div class="list-thumb-right">
							<a href=""><img class="img-responsive" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
						</div>
						<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
						<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<h3 class="mb10">下图+摘要</h3>
			<div class="example-visualize">
				<div class="titlebar titlebar-default">
					<a href="" class="fl-r more">more &raquo;</a>
					<h2 class="titlebar-title ">栏目标题</h2>
				</div>
				<ul class="list">
					<li class="list-item-desced">
						<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行！</a>
						<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
						<div class="list-thumb-bottom">
							<a href=""><img class="img-responsive" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
						</div>
					</li>
					<li class="list-item-desced">
						<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
						<div class="list-thumb-right">
							<a href=""><img class="img-responsive" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
						</div>
						<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
					</li>
					<li class="list-item-desced">
						<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
						<div class="list-thumb-left">
							<a href=""><img class="img-responsive" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
						</div>
						<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
					</li>
				</ul>
			</div>
		</li>
	</ol>
</div>
<div class="mswitch">
	<ol class="decimal">
		<li>
			<h3 class="mb10">基本使用</h3>
			<div class="example-visualize">
				<ul class="list">
					<li class="list-item-comment">
						<a href="#" class="fl-l">
							<img alt="" class="avatar radius" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSI2MHB4IiBoZWlnaHQ9IjQ4cHgiIHZpZXdCb3g9IjAgMCA2MCA0OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CgkgPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjYwIiBoZWlnaHQ9IjQ4Ii8+CjxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik0zMS45MDcsMjguOTU5di0xLjM2NmMxLjgyNS0xLjAyOCwzLjMxMi0zLjU5MSwzLjMxMi02LjE1NGMwLTQuMTE2LDAtNy40NTMtNC45NjktNy40NTNzLTQuOTY5LDMuMzM3LTQuOTY5LDcuNDUzCgljMCwyLjU2NCwxLjQ4Nyw1LjEyNiwzLjMxMiw2LjE1NHYxLjM2NmMtNS42MTgsMC40NTktOS45MzcsMy4yMi05LjkzNyw2LjU1N2gyMy4xODdDNDEuODQ0LDMyLjE3OCwzNy41MjUsMjkuNDE3LDMxLjkwNywyOC45NTl6Ii8+Cjwvc3ZnPg==">
						</a>
						<div class="comment-main">
							<header class="comment-header">
								<div class="comment-meta">
									<a class="comment-author" href="#">辉哥</a> 评论于
									<time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
								</div>
							</header>
							<div class="comment-body">
								<p><a href="#">@某人</a> 你是猴子派来的救兵吗？</p>
							</div>
						</div>
					</li>
					<li class="list-item-comment">
						<a href="#" class="fl-r">
							<img alt="" class="avatar radius" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSI2MHB4IiBoZWlnaHQ9IjQ4cHgiIHZpZXdCb3g9IjAgMCA2MCA0OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CgkgPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjYwIiBoZWlnaHQ9IjQ4Ii8+CjxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik0zMS45MDcsMjguOTU5di0xLjM2NmMxLjgyNS0xLjAyOCwzLjMxMi0zLjU5MSwzLjMxMi02LjE1NGMwLTQuMTE2LDAtNy40NTMtNC45NjktNy40NTNzLTQuOTY5LDMuMzM3LTQuOTY5LDcuNDUzCgljMCwyLjU2NCwxLjQ4Nyw1LjEyNiwzLjMxMiw2LjE1NHYxLjM2NmMtNS42MTgsMC40NTktOS45MzcsMy4yMi05LjkzNyw2LjU1N2gyMy4xODdDNDEuODQ0LDMyLjE3OCwzNy41MjUsMjkuNDE3LDMxLjkwNywyOC45NTl6Ii8+Cjwvc3ZnPg==">
						</a>
						<div class="comment-main">
							<header class="comment-header">
								<div class="comment-meta">
									<a class="comment-author" href="#">辉哥</a> 评论于
									<time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
								</div>
							</header>
							<div class="comment-body">
								<p><a href="#">@某人</a> 你是猴子派来的救兵来恶心我的吗？</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</li>
	</ol>
</div>