<div class="mlist">
	<div class="mtit"><span>目录</span></div>
	<div class="mcon">
		<ol>
			<li>
				<a href="">基本使用</a>
			</li>
		</ol>
	</div>
</div>
<div class="mswitch">
	<ol class="decimal">
		<li>
			<h3>基本使用</h3>
			<div class="example-visualize">
				<div class="searchbar-wrap">
					<div class="searchbar">
						<form method="post">
							<button type="submit" class="btn btn-search">搜索</button>
							<div class="searchbar-input">
								<input type="search" class="radius" placeholder="搜你想要">
							</div>
						</form>
					</div>
				</div>
			</div>
		</li>
		<li>
			<h3>带图标搜索</h3>
			<div class="example-visualize">
				<div class="searchbar-wrap">
					<div class="searchbar">
						<form method="post">
							<button type="submit" class="btn btn-search">搜索</button>
							<i class="f-search"></i>
							<div class="searchbar-input">
								<input type="search" class="radius" placeholder="搜你想要">
								<i class="f-cross"></i>
							</div>
						</form>
					</div>
				</div>
			</div>
		</li>
	</ol>
</div>