<ol>
	<li>
		<h3>基本使用</h3>
		<div class="example-visualize">			
			<div class="tips tips-success">
				<div class="poptips">
				    <div class="tips-txt"><i class="f-check"></i> 温馨提示内容</div>
				</div>
			</div>		
			<div class="tips tips-info">
				<div class="poptips">
				    <div class="tips-txt"><i class="f-info"></i> 温馨提示内容</div>
				</div>
			</div>	
			<div class="tips tips-danger">
				<div class="poptips">
				    <div class="tips-txt"><i class="f-fire"></i> 温馨提示内容</div>
				</div>
			</div>	
			<div class="tips tips-warning">
				<div class="poptips">
				    <div class="tips-txt"><i class="f-warning"></i> 温馨提示内容</div>
				</div>
			</div>
		</div>
	</li>
</ol>