<ol>
	<li>
		<h3 class="mb10">基本使用</h3>
		<div class="example-visualize">
			<ul class="list">
				<li class="list-item-dated">
          			<span class="list-date fl-r">2013-09-18</span>
					<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
				</li>
				<li class="list-item-dated">
          			<span class="list-date fl-r">2013-09-18</span>
					<a href="" class="list-txt txt-ellipsis">我很囧，你保重....那些囧晒晒旅行中的那些囧！</a>
				</li>
				<li class="list-item-dated">
          			<span class="list-date fl-r">2013-09-18</span>
					<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中！</a>
				</li>
			</ul>
		</div>
	</li>
	<li>
		<h3 class="mb10">带头部标题</h3>
		<div class="example-visualize">
			<div class="titlebar titlebar-default">  
				<a href="" class="fl-r more">more &raquo;</a>
				<h2 class="titlebar-title ">栏目标题</h2>
          	</div>
			<ul class="list">
				<li class="list-item-dated">
          			<span class="list-date fl-r">2013-09-18</span>
					<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
				</li>
				<li class="list-item-dated">
          			<span class="list-date fl-r">2013-09-18</span>
					<a href="" class="list-txt txt-ellipsis">我很囧，你保重....那些囧晒晒旅行中的那些囧！</a>
				</li>
				<li class="list-item-dated">
          			<span class="list-date fl-r">2013-09-18</span>
					<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中！</a>
				</li>
			</ul>
		</div>
	</li>
	<li>
		<h3 class="mb10">带底部查看更多</h3>
		<div class="example-visualize">
			<div class="titlebar titlebar-default">  
				<h2 class="titlebar-title ">栏目标题</h2>
          	</div>
			<ul class="list">
				<li class="list-item-dated">
          			<span class="list-date fl-r">2013-09-18</span>
					<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
				</li>
				<li class="list-item-dated">
          			<span class="list-date fl-r">2013-09-18</span>
					<a href="" class="list-txt txt-ellipsis">我很囧，你保重....那些囧晒晒旅行中的那些囧！</a>
				</li>
				<li class="list-item-dated">
          			<span class="list-date fl-r">2013-09-18</span>
					<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中！</a>
				</li>
			</ul>
			<div class="list al-c">
	        	<a class="btn btn-default" href="#">查看更多 &raquo;</a>
	      	</div>
		</div>
	</li>
	<li>
		<h3 class="mb10">带摘要</h3>
		<div class="example-visualize">
			<div class="titlebar titlebar-default">  
				<a href="" class="fl-r more">more &raquo;</a>
				<h2 class="titlebar-title ">栏目标题</h2>
          	</div>
			<ul class="list">
				<li class="list-item-desced">
					<a href="" class="list-txt">我很囧，你保重....晒晒旅行！</a>
					<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
				</li>
				<li class="list-item-desced">
					<a href="" class="list-txt">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
					<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
				</li>
			</ul>
		</div>
	</li>
</ol>