<ol>	
	<li>
		<h3 class="mb10">上图+摘要</h3>
		<div class="example-visualize">
			<div class="titlebar titlebar-default">  
				<a href="" class="fl-r more">more &raquo;</a>
				<h2 class="titlebar-title ">栏目标题</h2>
          	</div>
			<ul class="list">
				<li class="list-item-desced">
					<div class="list-thumb-top">
						<a href=""><img class="img-responsive center-block" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
					</div>
					<a href="" class="list-txt">我很囧，你保重....晒晒旅行！</a>
					<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
				</li>
				<li class="list-item-desced">
					<div class="list-thumb-top">
						<a href=""><img class="img-responsive center-block" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
					</div>
					<a href="" class="list-txt">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
					<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
				</li>
			</ul>
		</div>
	</li>
	<li>
		<h3 class="mb10">左图+摘要</h3>
		<div class="example-visualize">
			<div class="titlebar titlebar-default">  
				<a href="" class="fl-r more">more &raquo;</a>
				<h2 class="titlebar-title ">栏目标题</h2>
          	</div>
			<ul class="list">
				<li class="list-item-desced">
					<div class="list-thumb-left">
						<a href=""><img class="img-responsive" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
					</div>
					<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行！</a>
					<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
				</li>
				<li class="list-item-desced">
					<div class="list-thumb-left">
						<a href=""><img class="img-responsive" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
					</div>
					<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
					<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
				</li>
			</ul>
		</div>
	</li>
	<li>
		<h3 class="mb10">右图+摘要</h3>
		<div class="example-visualize">
			<div class="titlebar titlebar-default">  
				<a href="" class="fl-r more">more &raquo;</a>
				<h2 class="titlebar-title ">栏目标题</h2>
          	</div>
			<ul class="list">
				<li class="list-item-desced">
					<div class="list-thumb-right">
						<a href=""><img class="img-responsive" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
					</div>
					<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行！</a>
					<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
				</li>
				<li class="list-item-desced">
					<div class="list-thumb-right">
						<a href=""><img class="img-responsive" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
					</div>
					<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
					<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
				</li>
			</ul>
		</div>
	</li>
	<li>
		<h3 class="mb10">下图+摘要</h3>
		<div class="example-visualize">
			<div class="titlebar titlebar-default">  
				<a href="" class="fl-r more">more &raquo;</a>
				<h2 class="titlebar-title ">栏目标题</h2>
          	</div>
			<ul class="list">
				<li class="list-item-desced">
					<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行！</a>
					<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
					<div class="list-thumb-bottom">
						<a href=""><img class="img-responsive" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
					</div>
				</li>
				<li class="list-item-desced">
					<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
					<div class="list-thumb-right">
						<a href=""><img class="img-responsive" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
					</div>
					<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
				</li>
				<li class="list-item-desced">
					<a href="" class="list-txt txt-ellipsis">我很囧，你保重....晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧晒晒旅行中的那些囧！</a>
					<div class="list-thumb-left">
						<a href=""><img class="img-responsive" alt="响应式图片" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB3aWR0aD0iMTUwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxNTAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KCTxkZWZzIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgkJPHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NjJmMGVmNGJhIHRleHR7CglmaWxsOiNFREY1RkI7Cglmb250LXdlaWdodDogYm9sZDsKCWZvbnQtZmFtaWx5OiBBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTsKCWZvbnQtc2l6ZTogMTJwdAp9CgpdXT48L3N0eWxlPgoJPC9kZWZzPgoJPGcgaWQ9ImhvbGRlcl8xNTYyZjBlZjRiYSI+CgkJPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxMDAiLz4KCQk8dGV4dCB4PSIzOSIgeT0iNTUiPjE1MCBYIDEwMDwvdGV4dD4KCTwvZz4KPC9zdmc+"></a>
					</div>
					<div class="list-desced-txt nowrap-multi3">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>
				</li>
			</ul>
		</div>
	</li>
</ol>