<ol>
	<li>
		<h3 class="mb10">基本使用</h3>
		<div class="example-visualize">
			<ul class="pagination">
				<li class="pagination-first ">
					<a href="javascript:;" class="">第一页</a>
				</li>
				<li class="pagination-prev">
					<a href="javascript:;" class="">上一页</a>
				</li>
				<li class="">
					<a href="javascript:;" class="">1</a>
				</li>
				<li class="active">
					<a href="javascript:;">2</a>
				</li>
				<li class="">
					<a href="javascript:;" class="">3</a>
				</li>
				<li class="">
					<a href="javascript:;" class="">4</a>
				</li>
				<li class="">
					<a href="javascript:;" class="">5</a>
				</li>
				<li class="pagination-next">
					<a href="javascript:;" class="">下一页</a>
				</li>
				<li class="pagination-last">
					<a href="javascript:;" class="">最末页</a>
				</li>
			</ul>
		</div>
	</li>
	<li>
		<h3 class="mb10">翻页</h3>
		<div class="example-visualize">
			<ul class="pager">
   	 			<li><a href="javascript:;">上一页</a></li>
    			<li><a href="javascript:;">下一页</a></li>
  			</ul>
		</div>
	</li>
	<li>
		<h3 class="mb10">上下页+选择框</h3>
		<div class="example-visualize">
			<ul class="pager">
   	 			<li><a href="javascript:;">上一页</a></li>
   	 			<li class="pager-select">
		          	<select>
		              <option value="#" class="">1
		              </option>
		              <option value="#" class="">2
		              </option>
		              <option value="#" class="">3
		              </option>
		          	</select>
		        </li>
    			<li><a href="javascript:;">下一页</a></li>
  			</ul>
		</div>
	</li>
</ol>