<ol>
	<li>
		<h3 class="mb10">基本样式</h3>
		<div class="example-visualize">
			<div class="tips radius tips-success">
				<div class="newstips">				   	
					<span class="dot dot-danger right-ab"></span>
				   	<div class="tips-txt txt-ellipsis">新消息新消息新消息新消息新消息新消息新消息新消息新消息新消息新消息新消息新消息新消息新消息新消息</div>
				</div>
			</div>
			<div class="tips tips-info">
				<div class="newstips">
					<div class="tips-txt txt-ellipsis">
		             	<span>新消息</span>
		              	<span class="badge radius">123</span>
		         	</div>
	         	</div>
         	</div>
			<div class="tips tips-info">
				<div class="newstips">
					<div class="tips-txt txt-ellipsis">
		             	<span>新消息</span>
		              	<span class="badge radius right-ab badge-info">123</span>
		         	</div>
	         	</div>
         	</div>
		</div>
		<div class="example-desc">
			加上.tips .tooltips .txt-ellipsis类
		</div>
	</li>
	<li>
		<h3 class="mb10">图片组合</h3>
		<div class="example-visualize">
			<div class="tips radius tips-success">
				<div class="newstips">
					<img alt="" class="avatar radius" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSI2MHB4IiBoZWlnaHQ9IjQ4cHgiIHZpZXdCb3g9IjAgMCA2MCA0OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CgkgPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjYwIiBoZWlnaHQ9IjQ4Ii8+CjxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik0zMS45MDcsMjguOTU5di0xLjM2NmMxLjgyNS0xLjAyOCwzLjMxMi0zLjU5MSwzLjMxMi02LjE1NGMwLTQuMTE2LDAtNy40NTMtNC45NjktNy40NTNzLTQuOTY5LDMuMzM3LTQuOTY5LDcuNDUzCgljMCwyLjU2NCwxLjQ4Nyw1LjEyNiwzLjMxMiw2LjE1NHYxLjM2NmMtNS42MTgsMC40NTktOS45MzcsMy4yMi05LjkzNyw2LjU1N2gyMy4xODdDNDEuODQ0LDMyLjE3OCwzNy41MjUsMjkuNDE3LDMxLjkwNywyOC45NTl6Ii8+Cjwvc3ZnPg==">
					<span class="dot dot-danger right-ab"></span>
				   	<div class="tips-txt txt-ellipsis">新消息新消息新消息新消息新消息新消息新消息新消息新消息新消息新消息新消息新消息新消息新消息新消息</div>
				</div>
			</div>
			<div class="tips tips-info">
				<div class="newstips">
					<img alt="" class="avatar radius" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSI2MHB4IiBoZWlnaHQ9IjQ4cHgiIHZpZXdCb3g9IjAgMCA2MCA0OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CgkgPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjYwIiBoZWlnaHQ9IjQ4Ii8+CjxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik0zMS45MDcsMjguOTU5di0xLjM2NmMxLjgyNS0xLjAyOCwzLjMxMi0zLjU5MSwzLjMxMi02LjE1NGMwLTQuMTE2LDAtNy40NTMtNC45NjktNy40NTNzLTQuOTY5LDMuMzM3LTQuOTY5LDcuNDUzCgljMCwyLjU2NCwxLjQ4Nyw1LjEyNiwzLjMxMiw2LjE1NHYxLjM2NmMtNS42MTgsMC40NTktOS45MzcsMy4yMi05LjkzNyw2LjU1N2gyMy4xODdDNDEuODQ0LDMyLjE3OCwzNy41MjUsMjkuNDE3LDMxLjkwNywyOC45NTl6Ii8+Cjwvc3ZnPg==">
	             	<div class="tips-txt txt-ellipsis">
	             		<span>新消息</span>
		              	<span class="badge radius">123</span>
		         	</div>
	         	</div>
         	</div>
			<div class="tips tips-info">
				<div class="newstips">
					<img alt="" class="avatar radius" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSI2MHB4IiBoZWlnaHQ9IjQ4cHgiIHZpZXdCb3g9IjAgMCA2MCA0OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CgkgPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjYwIiBoZWlnaHQ9IjQ4Ii8+CjxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik0zMS45MDcsMjguOTU5di0xLjM2NmMxLjgyNS0xLjAyOCwzLjMxMi0zLjU5MSwzLjMxMi02LjE1NGMwLTQuMTE2LDAtNy40NTMtNC45NjktNy40NTNzLTQuOTY5LDMuMzM3LTQuOTY5LDcuNDUzCgljMCwyLjU2NCwxLjQ4Nyw1LjEyNiwzLjMxMiw2LjE1NHYxLjM2NmMtNS42MTgsMC40NTktOS45MzcsMy4yMi05LjkzNyw2LjU1N2gyMy4xODdDNDEuODQ0LDMyLjE3OCwzNy41MjUsMjkuNDE3LDMxLjkwNywyOC45NTl6Ii8+Cjwvc3ZnPg==">
		             	<div class="tips-txt txt-ellipsis">
		             	<span>新消息</span>
		              	<span class="badge radius right-ab badge-info">123</span>
		         	</div>
	         	</div>
         	</div>
		</div>
	</li>
</ol>