<ol>
	<li>
		<h3 class="mb10">基本使用</h3>
		<div class="example-visualize">
			<div class="tips tips-success radius">成功状态提示</div>
			<div class="tips tips-info radius">信息状态提示</div>
			<div class="tips tips-warning radius">错误状态提示</div>
			<div class="tips tips-danger radius">危险状态提示</div>
		</div>
		<div class="example-desc">
			为警告框添加一个.tips 类
		</div>
	</li>
	<li>
		<h3 class="mb10">普通提示条</h3>
		<div class="example-visualize">
			<div class="tips tips-success">
			    <i class="f-check"></i> <span>提示操作成功或流程成功提示</span>
			</div>
			<div class="tips tips-info">
			    <i class="f-info"></i> <span>提供相关的信息或建议提供相关的信息或建议</span>
			</div>
			<div class="tips tips-warning">
			    <i class="f-notification"></i> <span>提供相关的信息或建议提供相关的信息或建议</span>
			</div>
			<div class="tips tips-danger">
			    <i class="f-cross"></i> <span>提供相关的信息或建议提供相关的信息或建议</span>
			</div>
		</div>
		<div class="example-desc">
			为警告框添加一个.tips 类和一个提示图标
		</div>
	</li>
	<li>
		<h3 class="mb10">可关闭的警告框</h3>
		<div class="example-visualize">
			<div class="tips tips-warning radius tips-dismissible">
			  	<i class="f-cross right-ab"></i>
			  	<strong>警告!</strong> 错误状态提示
			</div>
		</div>
		<div class="example-desc">
			为警告框添加一个.tips 和一个可选的 .tips-dismissible 类和一个关闭按钮
		</div>
	</li>
	<li>
		<h3 class="mb10">工具提示条</h3>
		<div class="example-visualize">
			<div class="tips tips-success">
				<div class="tooltips txt-ellipsis">
				    <i class="f-trash right-ab"></i><i class="f-check"></i> <span>提示操作成功或流程成功提示提示操作成功或流程成功提示提示操作成功或流程成功提示提示操作成功或流程成功提示</span>
				</div>
			</div>
			<div class="tips tips-info">
				<div class="tooltips txt-ellipsis">
				    <i class="f-inbox right-ab"></i><i class="f-info"></i> <span>提示操作成功或流程成功提示提示操作成功或流程成功提示提示操作成功或流程成功提示提示操作成功或流程成功提示</span>
				</div>
			</div>
		</div>
		<div class="example-desc">
			父元素加上.tips，自身加上 .tooltips .txt-ellipsis类
		</div>
	</li>
</ol>