<ol>
	<li>
		<h3 class="mb10">基本使用</h3>
		<div class="example-visualize">
			<ul class="list">
				<li class="list-item-comment">
					<a href="#" class="fl-l">
						<img alt="" class="avatar radius" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSI2MHB4IiBoZWlnaHQ9IjQ4cHgiIHZpZXdCb3g9IjAgMCA2MCA0OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CgkgPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjYwIiBoZWlnaHQ9IjQ4Ii8+CjxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik0zMS45MDcsMjguOTU5di0xLjM2NmMxLjgyNS0xLjAyOCwzLjMxMi0zLjU5MSwzLjMxMi02LjE1NGMwLTQuMTE2LDAtNy40NTMtNC45NjktNy40NTNzLTQuOTY5LDMuMzM3LTQuOTY5LDcuNDUzCgljMCwyLjU2NCwxLjQ4Nyw1LjEyNiwzLjMxMiw2LjE1NHYxLjM2NmMtNS42MTgsMC40NTktOS45MzcsMy4yMi05LjkzNyw2LjU1N2gyMy4xODdDNDEuODQ0LDMyLjE3OCwzNy41MjUsMjkuNDE3LDMxLjkwNywyOC45NTl6Ii8+Cjwvc3ZnPg==">
					</a>
					<div class="comment-main">
						<header class="comment-header">
							<div class="comment-meta">
								<a class="comment-author" href="#">辉哥</a> 评论于
								<time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
							</div>
						</header>
						<div class="comment-body">
							<p><a href="#">@某人</a> 你是猴子派来的救兵吗？</p>
						</div>
					</div>
				</li>
				<li class="list-item-comment">
					<a href="#" class="fl-r">
						<img alt="" class="avatar radius" src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSI2MHB4IiBoZWlnaHQ9IjQ4cHgiIHZpZXdCb3g9IjAgMCA2MCA0OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CgkgPHJlY3QgeD0iMCIgeT0iMCIgZmlsbD0iI0QyREFFMCIgd2lkdGg9IjYwIiBoZWlnaHQ9IjQ4Ii8+CjxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik0zMS45MDcsMjguOTU5di0xLjM2NmMxLjgyNS0xLjAyOCwzLjMxMi0zLjU5MSwzLjMxMi02LjE1NGMwLTQuMTE2LDAtNy40NTMtNC45NjktNy40NTNzLTQuOTY5LDMuMzM3LTQuOTY5LDcuNDUzCgljMCwyLjU2NCwxLjQ4Nyw1LjEyNiwzLjMxMiw2LjE1NHYxLjM2NmMtNS42MTgsMC40NTktOS45MzcsMy4yMi05LjkzNyw2LjU1N2gyMy4xODdDNDEuODQ0LDMyLjE3OCwzNy41MjUsMjkuNDE3LDMxLjkwNywyOC45NTl6Ii8+Cjwvc3ZnPg==">
					</a>
					<div class="comment-main">
						<header class="comment-header">
							<div class="comment-meta">
								<a class="comment-author" href="#">辉哥</a> 评论于
								<time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
							</div>
						</header>
						<div class="comment-body">
							<p><a href="#">@某人</a> 你是猴子派来的救兵来恶心我的吗？</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</li>
</ol>