<h3 class="mb10"> </h3>
<div class="example-demo">
	<div class="example-visualize">
		<code>code here</code>
	</div>
</div>
<div class="example-desc">
	<ul>
		<li><b>行内代码（内联代码）：</b>通过 code标签包裹内联样式的代码片段。
			<div class="html"><pre><code>code here</code></pre></div>
		</li>
		<li><b>代码块：</b>多行代码可以使用 pre 标签。
			<pre>
window.addEventListener('load', function() {
}, false);
</pre>
			<div class="html"><pre>&lt;pre&gt; 
window.addEventListener('load', function() {
}, false);
&lt;/pre&gt;</pre></div>
		</li>
	</ul>
</div>