
<h3 class="mb10">所有可用的字体图标 </h3>
<div class="example-demo">
	<div class="fonticons">
	<ul class="fonticons-list">
		<li><span class="f-arrow_down"></span></li>
		<li><span class="f-arrow_left"></span></li>
		<li><span class="f-arrow_right"></span></li>
		<li><span class="f-arrow_up"></span></li>
		<li><span class="f-paper-clip"></span></li>
		<li><span class="f-search"></span></li>
		<li><span class="f-search_bold"></span></li>
		<li><span class="f-rewind"></span></li>
		<li><span class="f-fast-forward"></span></li>
		<li><span class="f-head"></span></li>
		<li><span class="f-marquee"></span></li>
		<li><span class="f-marquee-plus"></span></li>
		<li><span class="f-marquee-minus"></span></li>
		<li><span class="f-tag"></span></li>
		<li><span class="f-plus"></span></li>
		<li><span class="f-minus"></span></li>
		<li><span class="f-check"></span></li>
		<li><span class="f-cross"></span></li>
		<li><span class="f-inbox"></span></li>
		<li><span class="f-open"></span></li>
		<li><span class="f-ellipsis"></span></li>
		<li><span class="f-heart"></span></li>
		<li><span class="f-star"></span></li>
		<li><span class="f-trash"></span></li>
		<li><span class="f-settings"></span></li>
		<li><span class="f-camera"></span></li>
		<li><span class="f-location"></span></li>
		<li><span class="f-bubble"></span></li>
		<li><span class="f-mail"></span></li>
		<li><span class="f-like"></span></li>
		<li><span class="f-fire"></span></li>
		<li><span class="f-image"></span></li>
		<li><span class="f-images"></span></li>
		<li><span class="f-qrcode"></span></li>
		<li><span class="f-alarm"></span></li>
		<li><span class="f-bell"></span></li>
		<li><span class="f-quotes-left"></span></li>
		<li><span class="f-quotes-right"></span></li>
		<li><span class="f-spinner"></span></li>
		<li><span class="f-warning"></span></li>
		<li><span class="f-notification"></span></li>
		<li><span class="f-question"></span></li>
		<li><span class="f-info"></span></li>
		<li><span class="f-blocked"></span></li>
		<li><span class="f-checkbox-checked"></span></li>
		<li><span class="f-checkbox-unchecked"></span></li>
		<li><span class="f-radio-checked"></span></li>
		<li><span class="f-radio-checked2"></span></li>
		<li><span class="f-radio-unchecked"></span></li>
		<li><span class="f-embed"></span></li>
		<li><span class="f-cart"></span></li>
		<li><span class="f-home"></span></li>
		<li><span class="f-coin-yen"></span></li>
		<li><span class="f-mobile"></span></li>
		<li><span class="f-star-full"></span></li>
		<li><span class="f-heart"></span></li>
	</ul>
</div>
</div>
<div class="example-desc">
<p>命名格式：[class^="f-"], [class*=" f-"]</p>
</div>
<style>
.al-l{text-align:left;}
.txt-ellipsis{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;}


.block-cart-payoff{overflow: hidden;padding: 10px;}
.c-payoff-radio{width:25px;text-align: center;line-height:18px;}
.c-payoff-radio span{display: block;font-size: 12px;color:#888;}
.c-payoff-infos{}
.c-payoff-infos .payoff-price{}
.c-payoff-infos .payoff-price label{font-weight:100;color:#333;font-size: 16px;}
.c-payoff-infos .payoff-price span{font-size: 20px;}
.c-payoff-infos .payoff-tips{font-size: 12px;color:#888;}
.c-payoff-infos p{}
.c-payoff-btn{}
.payoff-btn{border:1px solid #666;background: #eee;color:#333;font-size: 16px;padding:0 25px;height:40px;line-height: 40px;}
</style>