
	<ol>
		<li>
			<h3 class="mb10">文本框(text):</h3>
			<div class="example-demo">  				
  				<div class="example-visualize">
					<input type="text" class="i-text" placeholder="Text input">
				</div>
				<div class="html">
					<pre><input type="text" class="i-text" placeholder="Text input"></pre>
				</div>
			</div>
			<div class="example-desc">
				<div class="exm-t1"><b>初始化：</b>在要应用的元素上添加 .i-text，再设置相应的参数</div>
			</div>
		</li>
		<li>
			<h3 class="mb10 pt20">单选框(radio):</h3>
			<div class="example-demo">  				
  				<div class="example-visualize">
					<div class="radio"><input type="radio" name="optionsRadios1" checked id="radio0"><label for="radio0"></label></div>
	  				<div class="radio"><input type="radio" name="optionsRadios1" id="radio1"><label for="radio1"></label></div>
				</div>
				<div class="html">
					<pre><div class="radio">
	<input type="radio" name="optionsRadios" checked id="radio0">
	<label for="radio0"></label>
</div>
<div class="radio">
	<input type="radio" name="optionsRadios" id="radio1">
	<label for="radio1"></label>
</div></pre>
				</div>
			</div>
			<div class="example-desc">
				<div class="exm-t1"><b>初始化：</b>在要应用的元素的父元素上添加  .radio。</div>
			</div>
		</li>
		<li>
			<h3 class="mb10 pt20">多选框(checkbox):</h3>
			<div class="example-demo">  				
  				<div class="example-visualize">
					<div class="checkbox"><input type="checkbox" id="checkbox0"><label for="checkbox0"></label></div>
	  				<div class="checkbox"><input type="checkbox" checked id="checkbox1"><label for="checkbox1"></label></div>
				</div>
				<div class="html">
					<pre><div class="checkbox">
	<input type="checkbox" id="checkbox0">
	<label for="checkbox0"></label>
</div>
<div class="checkbox">
	<input type="checkbox" checked id="checkbox1">
	<label for="checkbox1"></label>
</div></pre>
				</div>
			</div>
			<div class="example-desc">
				<div class="exm-t1"><b>初始化：</b>在要应用的元素的父元素上添加  .checkbox。</div>
			</div>
		</li>
		<li>
			<h3 class="mb10 pt20">延伸(switch开关):</h3>
			<div class="example-demo"> 	
  				<div class="example-visualize"> 
					<div class="switch">
						<input type="checkbox" checked id="checkboxs0"><label for="checkboxs0"></label>
					</div>
					<div class="switch">
						<input type="checkbox" id="checkboxs1"><label for="checkboxs1"></label>
					</div>
				</div>
				<div class="html">
					<pre><div class="switch">
	<input type="checkbox" checked id="checkboxs0">
	<label for="checkboxs0"></label>
</div>
<div class="switch">
	<input type="checkbox" id="checkboxs1">
	<label for="checkboxs1"></label>
</div></pre>
				</div>
			</div>
			<div class="example-desc">
				<div class="exm-t1"><b>初始化：</b>在要应用的元素的父元素上添加  .switch。</div>
			</div>
		</li>
		<li>
			<h3 class="mb10">文件选择域(file):</h3>
			<div class="example-demo">  				
  				<div class="example-visualize">
					<span class="file"><input type="file"></span>
				</div>
				<div class="html">
					<pre><span class="file"><input type="file"></span></pre>
				</div>
			</div>
			<div class="example-desc">
				<div class="exm-t1"><b>初始化：</b>在要应用的元素上添加 .file，再设置相应的参数</div>
			</div>
		</li>
	</ol>