<div class="mlist">
	<div class="mtit"><span>目录</span></div>
	<div class="mcon">
		<ol>
			<li><a href="">基本使用</a></li>
		</ol>
	</div>
</div>
<div class="mswitch">
	<ol class="hanja">
		<li>
			<h3 class="mb10">标题 <code>&lt;h1&gt; - &lt;h6&gt;</code> </h3>
			<div class="example-demo">
				<h1>标题 </h1>
				<h2>标题 </h2>
				<h3>标题 </h3>
				<h4>标题 </h4>
				<h5>标题 </h5>
				<h6>标题 </h6>
			</div>
			<div class="example-desc">
				<p><code>&lt;h1&gt; - &lt;h6&gt;</code> 保持粗体，边距设置为0；<code>&lt;h1&gt;</code> 为正常字号的 <code>1.5</code> 倍；<code>&lt;h2&gt;</code> 为正常字号的 <code>1.25</code> 倍；其他保持正常字号。</p>
			</div>
		</li>
		<li>
			<h3 class="mb10">段落 <code>&lt;p&gt;</code> </h3>
			<div class="example-demo">
				<p>p段落</p>
			</div>
			<div class="example-desc">
				<p><code>&lt;p&gt;</code> 边距设置为0；保持正常字号14px。</p>
			</div>
		</li>
		<li>
			<h3 class="mb10">代码块 <code>&lt;pre&gt;</code> </h3>
			<div class="example-demo">
	<pre class="html">window.addEventListener('load', function() {
    console.log(document.body);
}, false);</pre>
			</div>
			<div class="example-desc">
				<p><code>&lt;pre&gt;</code> 底部边距设置为10px; 填充10px; 保持正常字号14px。</p>
			</div>
		</li>
		<li>
			<h3 class="mb10">无序列表<code>&lt;ul&gt;</code> </h3>
			<div class="example-demo">
				<ul>
					<li>条目 #1</li>
					<li>条目 #2
						<ul>
							<li>条目 #1</li>
							<li>条目 #2
								<ul>
									<li>条目 #1</li>
									<li>条目 #2</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>条目 #3</li>
					<li>条目 #4</li>
				</ul>
			</div>
			<div class="example-desc">
				<p><code>&lt;ul&gt;</code> 第一级list-style-type: disc ；第二级list-style-type: circle ；第三级list-style-type: square。上下边距设置为1em；左侧填充2em；保持正常字号14px。</p>
			</div>
		</li>
		<li>
			<h3 class="mb10">有序列表<code>&lt;ol&gt;</code> </h3>
			<div class="example-demo">
				<ol>
					<li>条目 #1</li>
					<li>条目 #2
						<ol>
							<li>条目 #1</li>
							<li>条目 #2
								<ol>
									<li>条目 #1</li>
									<li>条目 #2</li>
								</ol>
							</li>
						</ol>
					</li>
					<li>条目 #3</li>
					<li>条目 #4</li>
				</ol>
			</div>
			<div class="example-desc">
				<p><code>&lt;ol&gt;</code> 上下边距设置为1em；左侧填充2em；保持正常字号14px。</p>
			</div>
		</li>
		<li>
			<h3 class="mb10">定义列表 <code>&lt;dl&gt; - &lt;dt&gt; - &lt;dd&gt;</code> </h3>
			<div class="example-demo">
				<dl>
					<dt>响应式网页设计</dt>
					<dd>自适应网页设计（英语：Responsive web design，通常缩写为RWD）是一种网页设计的技术做法，该设计可使网站在多种浏览设备（从桌面电脑显示器到移动电话或其他移动产品设备）上阅读和导航，同时减少缩放、平移和滚动。</dd>
					<dt>响应式网页设计（RWD）的元素</dt>
					<dd>采用 RWD 设计的网站 使用 CSS3 Media queries，即一种对 @media 规则的扩展，以及流式的基于比例的网格和自适应大小的图像以适应不同大小的设备。</dd>
				</dl>
			</div>
			<div class="example-desc">
				<p><code>&lt;dl&gt;</code> 边距设置为0；保持正常字号14px。</p>
				<p><code>&lt;dt&gt;</code> 字体加粗。</p>
				<p><code>&lt;dd&gt;</code> 继承父元素</p>
			</div>
		</li>
		<li>
			<h3 class="mb10">表格 <code>&lt;table&gt;</code> </h3>
			<div class="example-demo">
				<table><caption>表格标题</caption><thead><tr><th>表头 #1</th><th>表头 #2</th><th>表头 #3</th></tr></thead><tbody><tr><td>数据 #1</td><td>数据 #2</td><td>数据 #3</td></tr><tr><td>数据 #1</td><td>数据 #2</td><td>数据 #3</td></tr></tbody><tfoot><tr><td>表页脚 #1</td><td>表页脚 #2</td><td>表页脚 #3</td></tr></tfoot></table>
			</div>
			<div class="example-desc">
				<p><code>&lt;table&gt;</code> 最大宽限制为100%；保持正常字号14px。</p>
				<p><code>&lt;th&gt;</code> 默认居中，字体加粗。</p>
			</div>
		</li>
		<li>
			<h3 class="mb10">图片 <code>&lt;img&gt;</code> </h3>
			<div class="example-demo">
				<img src="logo.png" alt=""/>
			</div>
			<div class="example-desc">
				<p><code>&lt;img&gt;</code> 边框设置为0；垂直居中对齐；最大宽限制为100%。</p>
			</div>
		</li>
	</ol>
	
</div>