<h3 class="mb10">下拉框:</h3>

<div class="example-demo">
	<div class="example-visualize">
		<span class="p-select">
		  	<select>
		    	<option value="" selected>select</option>
		    	<option value="1">菜单一</option>
		    	<option value="2">菜单二</option>
		    	<option value="3">菜单三</option>
		  	</select>
		</span>
	</div>
	<div class="html">
		<pre><span class="p-select">
	<select>
		<option value="" selected>select</option>
		<option value="1">菜单一</option>
		<option value="2">菜单二</option>
		<option value="3">菜单三</option>
	</select>
</span></pre>
	</div>
</div>
<div class="example-desc">
	<div class="exm-t1"><b>初始化：</b>为select外层嵌套个.p-select标签，再设置相应的参数。</div>
</div>