<div class="mlist">
	<div class="mtit"><span>目录</span></div>
	<div class="mcon">
		<ol>
			<li><a href="">基本使用</a></li>
		</ol>
	</div>
</div>
<div class="mswitch">
	<h3 class="mb10">下拉框:</h3>
	<div class="example-visualize">
		<span class="p-select">
		  	<select>
		    	<option value="" selected>请选择……</option>
		    	<option value="1">菜单一</option>
		    	<option value="2">菜单二</option>
		    	<option value="3">菜单三</option>
		  	</select>
		</span>
	</div>
	<div class="example-desc">
		<p><b>初始化：</b>为select外层嵌套个.p-select标签，再设置相应的参数。</p>
	</div>
</div>