<div class="mlist">
	<div class="mtit"><span>目录</span></div>
	<div class="mcon">
		<ol>
			<li><a href="">基本使用</a></li>
		</ol>
	</div>
</div>
<div class="mswitch">
	<h3 class="mb10">基本实例</h3>

	<div class="example-visualize">
		<table class="table">
			<tbody>
				<tr>
					<th>Header</th>
					<th>Header</th>
				</tr>
				<tr>
					<td>Data</td>
					<td>Data</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="example-desc">
		<p><b>初始化：</b>为任意table标签添加 .table 类可以为其赋予基本的样式，再设置相应的参数。</p>
	</div>
</div>