<h3 class="mb10">基本实例</h3>

<div class="example-demo">
	<div class="example-visualize">
		<table class="table">
			<tbody>
				<tr>
					<th>Header</th>
					<th>Header</th>
				</tr>
				<tr>
					<td>Data</td>
					<td>Data</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="html">
		<pre><table class="table">
	<tbody>
		<tr>
			<th>Header</th>
			<th>Header</th>
		</tr>
		<tr>
			<td>Data</td>
			<td>Data</td>
		</tr>
	</tbody>
</table></pre>
	</div>
</div>
<div class="example-desc">
	<div class="exm-t1"><b>初始化：</b>为任意table标签添加 .table 类可以为其赋予基本的样式，再设置相应的参数。</div>
</div>