<div class="docs-header">
	<div class="container animation-scale-up" id="docs-con">
		<h2>{{docsTit}}</h2>
		<p>{{docsMsg}}</p>		
	</div>
</div>
<div class="container">
	<div class="row feature-list">
		<div class="col-xs-12 col-sm-4">
			<div class="feature-list-item">
				<h4 class="feature-tit">平台适配</h4>
				<div class="feature-icon"><i class="icon1"></i></div>
				<p class="feature-desc">支持桌面及移动平台、浏览器及混合应用开发，所有屏幕适配</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="feature-list-item">
				<h4 class="feature-tit">组件丰富</h4>
				<div class="feature-icon"><i class="icon2"></i></div>
				<p class="feature-desc">含多个 CSS组件、JS组件和 Web组件，可快速构建出色的跨屏页面</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="feature-list-item">
				<h4 class="feature-tit">高效体验</h4>
				<div class="feature-icon"><i class="icon3"></i></div>
				<p class="feature-desc">面向 HTML5 开发，使用 CSS3 来做动画交互，给用户带来不一般的视觉体验</p>
			</div>
		</div>
	</div>
</div>
