<ol>
	<li>
		<h3>值缩写</h3>
		缩写值可以减少CSS文件大小，并增加可读性和可维护性
		<div class="html">
			<pre>p{font:italic bold 12px/20px arial,sans-serif;}
.mtb10{margin:10px 0;}</pre>
		</div>
	</li>
	<li>
		<h3>选择器合并</h3>
		即CSS选择器组合，可以将定义相同的或者有大部分属性值相同的一系列选择器组合到一起(采用逗号的方法)，一次定义多个选择器
		<div class="html">
			<pre>/* 以下对布局类选择器统一做了清除浮动的操作 */
.g-hd:after,.g-bd:after,.g-ft:after{display:block;visibility:hidden;clear:both;height:0;content:".";} </pre>
		</div>
	</li>
	<li>
		<h3>背景图优化合并</h3>
		<ul>
			<li>
				<h5>图片本身的优化：</h5>
				<ul> 
                                <li>图像质量要求和图像文件大小决定你用什么格式的图片，用较小的图片文件呈现较好的图像质量。</li> 
                                <li>当图片色彩过于丰富且无透明要求时，建议采用jpg格式并保存为较高质量。</li> 
                                <li>当图片色彩过于丰富又有透明或半透明要求或阴影效果时，建议采用png24格式，并对IE6进行png8退化（或在不得已情况下使用滤镜）。</li> 
                                <li>当图片色彩不太丰富时无论有无透明要求，请采用png8格式，大多数情况下建议采用这种格式。</li> 
                                <li>当图片有动画时，只能使用gif格式。</li> 
                                <li>你可以使用工具对图片进行再次压缩，但前提是不会影响色彩和透明。</li> 
                            </ul> 
			</li>
			<li>
				<h5>多张图片的合并：</h5>
				<ul> 
                                <li>单个图标之间必须保留空隙，空隙大小由容器大小及显示方式决定。这样做的好处是既考虑了“容错性”又提高了图片的可维护性。</li> 
                                <li>图标的排列方式，也由容器大小及显示方式决定。排列方式分为以下几种：横向排列（容器宽度有限）、纵向排列（容器高度有限）、斜线排列（容器宽高不限），靠左排列（容器背景居左）、靠右排列（容器背景居右）、水平居中排列（容器背景水平居中）、垂直居中排列（容器背景垂直居中）。</li> 
                                <li>合并后图片大小不宜超过50K，建议大小在20K-50K之间。</li> 
                                <li>为保证多次修改后的图片质量，请保留一份PSD原始图，修改和添加都在PSD中进行，最后导出png。</li> 
                            </ul> 
			</li>
			<li>
				<h5>分类合并：</h5>
                            <p>并不是把所有的图标都合并在一张图片里就是最好的，除了要控制图片大小之外还要注意以下方法。</p> 
                            <ul> 
                                <li>按照图片排列方式，把排列方式一样的图片进行合并，便于样式控制。</li> 
                                <li>按照模块或元件，把同属于一个模块或元件的图片进行合并，方便模块或元件的维护。</li> 
                                <li>按照图片大小，把大小一致或差不多的图片进行合并，可充分利用图片空间。</li> 
                                <li>按照图片色彩，把色彩一致或差不多的图片进行合并，保证合并后图片的色彩不过于丰富，可防止色彩失真。</li> 
                                <li>综合以上方法进行合并。</li> 
                            </ul> 
			</li>
		</ul>
	</li>
	<li>
		<h3>如果CSS可以做到，就不要使用JS</h3>
		<ul> 
                                <li>用CSS控制交互或视觉的变化，JS只需要更改className。</li> 
                                <li>利用CSS一次性更改多个节点样式，避免多次渲染，提高渲染效率。</li> 
                                <li>如果你的产品允许不兼容低版本浏览器，那么动画实现可以交给CSS。</li> 
                            </ul> 
	</li>
	<li>
		<h3>避免耗性能的属性</h3>
		以下所举列的属性可能造成渲染性能问题。不过有时候需求大于一切……
		<div class="html">
			<pre>/* expression */
.class{width:expression(this.width>100?'100px':'auto');} 
/* filter */
.class{filter:alpha(opacity=50);} </pre>
		</div>
	</li>
</ol>

                     